@using IOWebApplication.Infrastructure.Models.ViewModels
@using IOWebApplication.Infrastructure.Constants
@model CaseFilterReport

@{
    ViewData["Title"] = "Заседания с ненаписани съдебни актове от всички съдии";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")" title="Начало"><i class="fa fa-home"></i></a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
}

<div class="row">
    <div class="col-lg-3">
        @Html.EditorFor(m => m.DateFrom, "DateTime")
    </div>
    @*<div class="col-lg-3">
        @Html.EditorFor(m => m.DateTo, "DateTime")
    </div>*@
    <div class="col-lg-3">
        @Html.EditorFor(m => m.ActDateToSpr, "DateTime")
    </div>
</div>

<div class="row">
    <div class="col-lg-3">@Html.EditorFor(m => m.CaseGroupId, "GenericDropDown")</div>
    <div class="col-lg-3">@Html.EditorFor(m => m.CaseTypeId, "GenericDropDown")</div>
    <div class="col-lg-3">@Html.EditorFor(x => x.CaseCodeId, "CaseCode", null, new { caseTypeContainer = "#CaseTypeId" })</div>
    <div class="col-lg-3">@Html.EditorFor(x => x.JudgeReporterId, "LawUnit", null, new { lawUnitType = NomenclatureConstants.LawUnitTypes.Judge })</div>
</div>

<div class="row">
    <div class="col-md-6 text-left pb-15">
        <button type="button" class="btn btn-primary" id="btnFilter" onclick="LoadTable()" value="Филтриране" title="Филтриране">
            Филтриране
            <i class="fa fa-search" title="Търсене"></i>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

<script>
    function LoadTable() {
        if ($.fn.dataTable.isDataTable('#mainTable')) {
            refreshTable('#mainTable');
        }
        else {
            $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListDataCaseSessionWithActProject")",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (d) {
                        d.model = {
                            DateFrom: $("#DateFrom").val(),
                            //DateTo: $("#DateTo").val(),
                            ActDateToSpr: $("#ActDateToSpr").val(),
                            CaseGroupId: $("#CaseGroupId").val(),
                            CaseTypeId: $("#CaseTypeId").val(),
                            CaseCodeId: $("#CaseCodeId").val(),
                            JudgeReporterId: $("#JudgeReporterId").val()
                        };
                    }
                },
                filter:false,
                columns: [
                    {
                        name: 'judgeReport',
                        data: 'judgeReport',
                        title: 'Съдия',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'caseTypeLabel',
                        data: 'caseTypeLabel',
                        title: 'Вид дело',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'caseRegNum',
                        data: 'caseRegNum',
                        title: 'Номер/Година',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'caseCodeLabel',
                        data: 'caseCodeLabel',
                        title: 'Предмет',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'sessionTypeLabel',
                        data: 'sessionTypeLabel',
                        title: 'Вид заседание',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'sessionDateFrom',
                        data: 'sessionDateFrom',
                        title: 'Проведено',
                        sortable: true,
                        searchable: false,
                        "render": function (value) {
                            if (value)
                                return moment(value).format("DD.MM.YYYY");
                            else
                                return "";
                        }
                    },
                    {
                        name: 'sessionActDate',
                        data: 'sessionActDate',
                        title: 'Връщане',
                        sortable: true,
                        searchable: false,
                        "render": function (value) {
                            if (value)
                                return moment(value).format("DD.MM.YYYY");
                            else
                                return "";
                        }
                    },
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (data, type, row) {
                            return TemplateToHtml('#templateEdit', row);
                        }
                    }
                ]
            });
        }
    }
</script>

<script id="templateEdit" type="text/x-handlebars-template">
    <div class="row">
        <a href="@Url.Action("CasePreview", "Case")/{{id}}" class="btn btn-def btn-sm" title="Дело"><i class="fa fa-eye"></i><span class="hidden-sm hidden-xs"></span></a>
    </div>
</script>

<script>
    $(document).ready(function () {
        $('#CaseGroupId').trigger('change');
    });

    $('#CaseGroupId').change(function () {
        requestCombo('@Url.Action("GetDDL_CaseTypeFromCourtType", "Ajax")', { CaseGroupId: $(this).val() }, '#CaseTypeId', @Model.CaseTypeId, function () { $('#CaseTypeId').trigger('change') });
    });

    $(function () {
        initLawUnit();
        initCaseCode();
    });
</script>
