@model CaseMainDataVM
@using IOWebApplication.Infrastructure.Models.ViewModels
@using Microsoft.Extensions.Configuration
@using IOWebApplication.Infrastructure.Constants
@inject IConfiguration configuration;
@{
    IAccessControl access = (IAccessControl)ViewBag.AccessControl;
    var boolRecalcVisible = ((configuration.GetValue<string>("Environment:Name") != NomenclatureConstants.Environments.Test) &&
                             (configuration.GetValue<string>("Environment:Name") != NomenclatureConstants.Environments.Production));
}

@if (access.CanChange)
{
    <div class="row">
        <div class="col-md-12 text-right pb-15">
            @*<a asp-controller="CaseLoadIndex" asp-action="Add" asp-route-caseId="@Model.Id" asp-route-caseSessionId="@Model.CaseSessionId" asp-route-isMainActivity="@true" asp-route-isFromCase="@Model.IsND" class="btn btn-success btn-sm">
                    <i class="fa fa-plus"></i>
                    Добави основна дейност
                </a>*@
            <a asp-controller="CaseLoadIndex" asp-action="Add" asp-route-caseId="@Model.Id" asp-route-caseSessionId="@Model.CaseSessionId" asp-route-isMainActivity="@false" asp-route-isFromCase="@Model.IsND" class="btn btn-success btn-sm">
                <i class="fa fa-plus"></i>
                Добави допълнителна дейност
            </a>
            @if (Model.IsND)
            {
                @if (boolRecalcVisible)
                {
                    <a asp-controller="CaseLoadIndex" asp-action="RecalcCaseLoadIndexByCase" asp-route-caseId="@Model.Id" class="btn btn-danger btn-sm">
                        <i class="fa fa-refresh"></i>
                        Преизчисляване
                    </a>
                }
            }
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <table id="caseLoadIndexMainTable" class="table table-hover table-striped"></table>
    </div>
</div>


<script>
        $(function () {
            var table = $('#caseLoadIndexMainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListData", "CaseLoadIndex")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.caseId = @Model.Id;
                        d.caseSessionId = '@Model.CaseSessionId';
                    }

                },
                deferLoading: deferLoadingOnTab('#caseLoadIndexMainTable'),
                columns: [
                    {
                        name: 'lawUnitName',
                        data: 'lawUnitName',
                        title: 'Име',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'nameActivity',
                        data: 'nameActivity',
                        title: 'Дейност',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'baseIndex',
                        data: 'baseIndex',
                        title: 'Базов индекс',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'loadValue',
                        data: 'loadValue',
                        title: 'Стойност',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'calcValue',
                        data: 'calcValue',
                        title: 'Изчислено',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (data, type, row) {
                            return TemplateToHtml('#caseLoadIndexTemplateEdit', row);
                        }
                    }
                ]
            }).order([[ 2, "asc" ]]);
        });
</script>

<script id="caseLoadIndexTemplateEdit" type="text/x-handlebars-template">
    {{#if isMainActivity}}
    {{else}}
    @if (access.CanChange)
    {
        <a href="@Url.Action("Edit", "CaseLoadIndex")?id={{id}}&&isFromCase=@Model.IsND" class="btn btn-warning btn-sm" title="Редакция"><i class="fa fa-edit"></i><span class="hidden-sm hidden-xs"></span></a>
    }
    else
    {
        <a href="@Url.Action("Edit", "CaseLoadIndex")?id={{id}}&&isFromCase=@Model.IsND" class="btn btn-def btn-sm" title="Преглед"><i class="fa fa-eye"></i><span class="hidden-sm hidden-xs"></span></a>
    }
    {{/if}}
</script>

<script>
    function RecalcCaseLoadIndex() {
        var caseId = @Model.Id;
        postContent('@Url.Action("RecalcCaseLoadIndexByCase", "CaseLoadIndex")'
            , { CaseId: caseId }
            , function (data) {
            });
    }
</script>


