@{
    ViewData["Title"] = "Елементи към " + ViewBag.judgeLoadActivityName;
    var judgeLoadActivityId = ViewBag.judgeLoadActivityId;
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")" title="Начало"><i class="fa fa-home"></i></a></li>
        <li><a href="@Url.Action("IndexJudgeLoadActivity","CaseLoadIndex")">Допълнителни дейности - натовареност (извън дело)</a></li>
    </ol>
}

<div class="row">
    <div class="col-md-12 text-right pb-15">
        <a asp-action="AddJudgeLoadActivityIndex" asp-route-JudgeLoadActivityId="@judgeLoadActivityId" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i>
            Добави
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var table = $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListDataJudgeLoadActivityIndex")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.JudgeLoadActivityId = @judgeLoadActivityId;
                    }
                },
                columns: [
                    {
                        name: 'courtTypeLabel',
                        data: 'courtTypeLabel',
                        title: 'Вид съд',
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'loadIndex',
                        data: 'loadIndex',
                        title: 'Индекс',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'isActiveLabel',
                        data: 'isActiveLabel',
                        title: 'Активен',
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#templateEdit', value);
                        }
                    }
                ]
            });


        });
    </script>

    <script id="templateEdit" type="text/x-handlebars-template">
        <a href="@Url.Action("EditJudgeLoadActivityIndex")/{{this}}" class="btn btn-warning btn-sm" title="Редакция"><i class="fa fa-edit"></i><span class="hidden-sm hidden-xs"> Редакция</span></a>
    </script>
}