@model CaseMainDataVM
@using IOWebApplication.Infrastructure.Models.ViewModels
@inject IViewLocalizer Localizer

@{
    IAccessControl access = (IAccessControl)ViewBag.AccessControl;
}

@if (access.CanChange)
{
    <div class="row">
        <div class="col-md-12 text-right pb-15">
            <a asp-controller="CasePersonLink" asp-action="AddSide" asp-route-caseId="@Model.Id" class="btn btn-success btn-sm">
                <i class="fa fa-plus"></i>
                Групово добавяне
            </a>
            <a asp-controller="CasePersonLink" asp-action="Add" asp-route-caseId="@Model.Id" class="btn btn-success btn-sm">
                <i class="fa fa-plus"></i>
                Добави
            </a>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <table id="casePersonLinkMainTable" class="table table-hover table-striped"></table>
    </div>
</div>


<script>
        $(function () {
            var table = $('#casePersonLinkMainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListData", "CasePersonLink")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.caseId = @Model.Id;
                    }
                },
                columns: [
                    {
                        name: 'casePersonName',
                        data: 'casePersonName',
                        title: 'Страна',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'linkDirectionName',
                        data: 'linkDirectionName',
                        title: 'Ред на представляване',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'casePersonRelName',
                        data: 'casePersonRelName',
                        title: 'Упълномощено лице',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'linkDirectionSecondName',
                        data: 'linkDirectionSecondName',
                        title: 'Ред на представляване',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'casePersonSecondRelName',
                        data: 'casePersonSecondRelName',
                        title: 'Втори представляващ',
                        sortable: true,
                        searchable: true
                    },
                    {
                        className: 'col-md-1',
                        name: 'dateFrom',
                        data: 'dateFrom',
                        title: 'От дата',
                        sortable: true,
                        searchable: false,
                        "render": function (value) {
                            if (value)
                                return moment(value).format("DD.MM.YYYY");
                            else
                                return "";
                        }
                    },
                    {
                        className: 'col-md-1',
                        name: 'dateTo',
                        data: 'dateTo',
                        title: 'До дата',
                        sortable: true,
                        searchable: false,
                        "render": function (value) {
                            if (value)
                                return moment(value).format("DD.MM.YYYY");
                            else
                                return "";
                        }
                    },
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#casePersonLinkTemplateEdit', value);
                        }
                    }
                ]
            });
        });
</script>

<script id="casePersonLinkTemplateEdit" type="text/x-handlebars-template">
    @if (access.CanChange)
    {
        <a href="@Url.Action("Edit", "CasePersonLink")?id={{this}}" class="btn btn-warning btn-sm" title="Редакция"><i class="fa fa-edit"></i><span class="hidden-sm hidden-xs"></span></a>
    }
    else
    {
        <a href="@Url.Action("Edit", "CasePersonLink")?id={{this}}" class="btn btn-def btn-sm" title="Преглед"><i class="fa fa-eye"></i><span class="hidden-sm hidden-xs"></span></a>
    }
</script>


