@{
    var caseGroupId = ViewBag.caseGroupId;
    ViewData["Title"] = "Списък Точен вид дело към " + ViewBag.caseGrouplabel;
}
@inject IViewLocalizer Localizer
@section breadcrumb{
    @if (ViewBag.breadcrumbs != null)
    {
        <partial name="Breadcrumbs" model="@(List<IOWebApplication.Infrastructure.Models.ViewModels.Common.BreadcrumbsVM>)ViewBag.breadcrumbs" />
    }
}

<div class="row">
    <div class="col-md-12 text-right pb-15">
        <a asp-action="AddCaseType" asp-route-caseGroupId="@caseGroupId" class="btn btn-success">
            <i class="fa fa-plus"></i>
            Добави
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-12">
        <a asp-action="Index" class="btn btn-danger">Назад</a>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var table = $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListDataCaseType")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.caseGroupId = @caseGroupId;
                    }

                },
                columns: [
                    {
                        name: 'orderNumber',
                        data: 'orderNumber',
                        title: 'Номер по ред',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'label',
                        data: 'label',
                        title: 'Етикет',
                        sortable: true,
                        searchable: true
                    },                    
                    {
                        name: 'isActive',
                        data: "isActive",
                        title: 'Активен',
                        sortable: true,
                        searchable: false,
                        className: "text-center",
                        "render": function (value) {
                            return value ? 'Да' : 'Не';
                        }
                    },
                    {
                        className: 'col-md-1',
                        name: 'dateStart',
                        data: 'dateStart',
                        title: 'Начална дата',
                        sortable: true,
                        searchable: false,
                        "render": function (value) {
                            if (value)
                                return moment(value).format("DD.MM.YYYY");
                            else
                                return "";
                        }
                    },
                    {
                        className: 'col-md-1',
                        name: 'dateEnd',
                        data: 'dateEnd',
                        title: 'Крайна дата',
                        sortable: true,
                        searchable: false,
                        "render": function (value) {
                            if (value)
                                return moment(value).format("DD.MM.YYYY");
                            else
                                return "";
                        }
                    },
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#templateEdit', value);
                        }
                    }
                ]
            });

            $(document).on('click', '.orderButton', savePosition);

            function savePosition(e) {
                var element = e.currentTarget;
                var data = element.dataset;

                element.setAttribute("disabled", "");
                $.ajax({
                    method: "POST",
                    url: '@Url.Action("ChangeOrderCaseType")',
                    dataType: "json",
                    data: data
                }).fail(function (jqXHR, status, message) {
                    if (jqXHR.responseText) {
                        //messageHelper.ShowErrorMessage(jqXHR.responseText);
                    }
                }).always(function () {
                    table.draw(false);
                });
            };
        });
    </script>

    <script id="templateEdit" type="text/x-handlebars-template">
        <a href="#" data-id="{{this}}" data-direction="up" class="orderButton btn btn-info btn-sm" title="@Localizer[" btnUp"]"><i class="fa fa-angle-up"></i></a>
        <a href="#" data-id="{{this}}" data-direction="down" class="orderButton btn btn-primary btn-sm" title="@Localizer[" btnDown"]"><i class="fa fa-angle-down"></i></a>
        <a href="@Url.Action("EditCaseType")/{{this}}" class="btn btn-warning btn-sm" title="Редакция"><i class="fa fa-edit"></i><span class="hidden-sm hidden-xs"> Редакция</span></a>
        <a href="@Url.Action("IndexCaseTypeUnit")/{{this}}" class="btn btn-def btn-sm" title="Състави"><i class="fa fa-users"></i><span class="hidden-sm hidden-xs"> Състави</span></a>
    </script>
}
