@model CaseMainDataVM
@using IOWebApplication.Infrastructure.Models.ViewModels

@{
    IAccessControl access = (IAccessControl)ViewBag.AccessControl;
}

@if (access.CanChange)
{
    <div class="row">
        <div class="col-md-12 text-right pb-15">
            <a asp-controller="CaseSessionMeeting" asp-action="AddMeetingUser" asp-route-caseSessionMeetingId="@Model.Id" class="btn btn-success btn-sm">
                <i class="fa fa-plus"></i>
                Добави секретар
            </a>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <table id="caseSessionMeetingUserMainTable" class="table table-hover table-striped"></table>
    </div>
</div>

<script>
        $(function () {
            var table = $('#caseSessionMeetingUserMainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListDataMeetingUser", "CaseSessionMeeting")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.caseSessionMeetingId = @Model.Id;
                    }
                },
                dom:'rt',
                columns: [
                    {
                        name: 'secretaryUserName',
                        data: 'secretaryUserName',
                        title: 'Секретар',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#caseSessionMeetingUserTemplateEdit', value);
                        }
                    },
                ]
            });
        });
</script>

<script id="caseSessionMeetingUserTemplateEdit" type="text/x-handlebars-template">
    @if (access.CanChange)
    {
        <a href="@Url.Action("EditMeetingUser", "CaseSessionMeeting")?id={{this}}" class="btn btn-warning btn-sm" title="Редакция"><i class="fa fa-edit"></i><span class="hidden-sm hidden-xs"></span></a>
    }
    else
    {
        <a href="@Url.Action("EditMeetingUser", "CaseSessionMeeting")?id={{this}}" class="btn btn-def btn-sm" title="Преглед"><i class="fa fa-eye"></i><span class="hidden-sm hidden-xs"></span></a>
    }
</script>


