@using IOWebApplication.Infrastructure.Models.ViewModels.RegixReport
@model RegixRequestReasonVM

<div>
    @Html.HiddenFor(x => x.RegixReasonDocumentId)
    @Html.HiddenFor(x => x.RegixReasonCaseId)
    @Html.HiddenFor(x => x.RegixReasonDescription)
    @Html.HiddenFor(x => x.RegixReasonGuid)
    @Html.HiddenFor(x => x.RegixRequestTypeId)
</div>
