@model EisppCase
@using IOWebApplication.Infrastructure.Models.Integrations.Eispp
@using IOWebApplication.Infrastructure.Extensions
@inject IEisppRulesService rulesService
@{
    var currentHtmlPrefix = ViewData.TemplateInfo.HtmlFieldPrefix;
    var eisppCauseRule = "NPR.DLO.DLOOSN";
    (var ruleIds, var flagsCause) = rulesService.GetEisppRuleIds((int)ViewBag.EventTypeId, eisppCauseRule);
}
@Html.HiddenFor(x => x.CaseTypeId)
@Html.HiddenFor(x => x.EisppCaseId)
@Html.HiddenFor(x => x.StructureId)
@Html.HiddenFor(x => x.Status.StatusId)
@Html.HiddenFor(x => x.IsSelected)
<div class="row">
    <div class="col-lg-2">
        @Html.EditorFor(x => x.ExactCaseType, "EisppDropDown", null, new { Ddl = ViewBag.ExactCaseTypeDDL })
    </div>
    <div class="col-lg-1">
        @Html.EditorFor(x => x.Year, "hd")
    </div>
    <div class="col-lg-1">
        @Html.EditorFor(x => x.ShortNumber, "hd")
    </div>
    <div class="col-lg-8">
        @Html.EditorFor(x => x.CaseCodeId, "EisppDropDown", null, new { Ddl = ViewBag.CaseCodeId_ddl })
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        @Html.EditorFor(x => x.LegalProceedingType, "EisppDropDown", null, new { Ddl = ViewBag.LegalProceedingTypeDDL })
    </div>
    <div class="col-lg-4">
        @Html.EditorFor(x => x.CaseType, "EisppDropDown", null, new { Ddl = ViewBag.CaseTypeDDL })
    </div>
    <div class="col-lg-4">
        @Html.EditorFor(x => x.CaseSetupType, "EisppDropDown", null, new { Ddl = ViewBag.CaseSetupTypeDDL })
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        @Html.EditorFor(x => x.CaseReason, "EisppDropDown", null, new { Ddl = ViewBag.CaseReasonDDL })
    </div>
    <div class="col-lg-4">
        @Html.EditorFor(x => x.Status.StatusDateVM, "EisppDateTime")
    </div>
    <div class="col-lg-4">
        @Html.EditorFor(x => x.Status.CaseStatus, "EisppDropDown", null, new { Ddl = ViewBag.CaseStatusDDL })
    </div>
</div>
@if (flagsCause > 0)
{
    <div class="case-cause">
        <div class="row case-cause-dd-container">
            <div class="col-lg-4">
                @Html.EditorFor(x => x.ConnectedCaseId, "EisppDropDownString", null, new { Ddl = ViewBag.ConnectedCaseId_ddl, @class = "case-cause-dd" })
            </div>
        </div>
        @for (int i = 0; i < Model.ConnectedCases?.Length; i++)
        {
            ViewData.TemplateInfo.HtmlFieldPrefix = $"{currentHtmlPrefix}.ConnectedCases[{i}]";
            @await Html.PartialAsync("_EisppCaseCause", Model.ConnectedCases[i])
        }
    </div>
}
