@model EisppChangeVM
@using IOWebApplication.Infrastructure.Models.ViewModels.Eispp
@{
    ViewData["Title"] = "Корекция на събитие към ЕИСПП";
    bool isDeleteEvent = (Model.NewEvent == null);
    if (isDeleteEvent)
    {
        ViewData["Title"] = "Изтриване на събитие към ЕИСПП";
    }
    bool isPostBack = (bool?)ViewBag.isPostBack == true;
}

@section breadcrumb{
    @if (ViewBag.breadcrumbs != null)
    {
        <partial name="Breadcrumbs" model="@(List<IOWebApplication.Infrastructure.Models.ViewModels.Common.BreadcrumbsVM>)ViewBag.breadcrumbs" />
    }
}
<div class="row">
    <div class="col-md-12 col-lg-12">
        <form id="formEdit" asp-action="EisppChangeSave" method="post">
            @Html.HiddenFor(x => x.EventId)
            @Html.HiddenFor(x => x.ModelJson)
            @Html.HiddenFor(x => x.MQEpepId)
            @Html.HiddenFor(x => x.EventFromId)
            <div class="row">
                <div class="col-md-6">
                    <a href="#" onclick="showOldEvent()" class="btn btn-def col-md-6 col-lg-6">Преглед на старо състояние</a>
                </div>
            </div>
            <div class="row">
                <br />
            </div>
            @if (!isDeleteEvent)
            {
                <div class="row">
                    <div class="col-md-6">
                        <a href="#" onclick="editNewEvent()" class="btn btn-def col-md-6 col-lg-6">Ново състояние</a>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
            }

            <div class="form-group">
                @if (Model.MQEpepId == null)
                {
                    @Html.EditorFor(x => x.IsForSend)
                    @if (!Model.IsForSend || isPostBack)
                    {
                        <input type="submit" value="Запис" class="btn btn-success single-click-submit" />
                    }
                }
                @await Html.PartialAsync("_ButtonClose")
            </div>
        </form>
    </div>
</div>


<script>
    function deletePackageJson() {
        $('form').attr('action', '@Url.Action("DeletePackageJson")');
        $("form").submit();
    }

    function showOldEvent() {
        $('#formEdit').attr('action', '@Url.Action("OldEvent", "Eispp")');
        $("#formEdit").submit();
    }

    function editNewEvent() {
        $('#formEdit').attr('action', '@Url.Action("NewEvent", "Eispp")');
        $("#formEdit").submit();
    }
</script>