@using IOWebApplication.Infrastructure.Data.Models.Common
@{
    var price = (PriceDesc)ViewBag.price;
    ViewData["Title"] = "Колони към " + price.Name;
}
@section breadcrumb{
    @if (ViewBag.breadcrumbs != null)
    {
        <partial name="Breadcrumbs" model="@(List<BreadcrumbsVM>)ViewBag.breadcrumbs" />
    }
}

<div class="row">
    <div class="col-md-12 text-right pb-15">
        <a asp-action="PriceCol_Edit" asp-route-priceDesc="@price.Id" class="btn btn-success">
            <i class="fa fa-plus"></i>
            Добави колона
        </a>
        &nbsp;&nbsp;
        <a asp-action="PriceVal" asp-route-priceDesc="@price.Id" class="btn btn-def">
            <i class="fa fa-list"></i>
            Стойности
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var table = $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("PriceCol_LoadData")",
                    "data": function (d) {
                        d.priceDesc = '@price.Id';
                    },
                    "type": "POST",
                    "datatype": "json"
                },
                sortable:false,
                columns: [
                     {
                        name: 'colTypeName',
                        data: 'colTypeName',
                        title: 'Вид колона',
                        sortable: false,
                        searchable: true
                    },  
                    {
                        name: 'name',
                        data: 'name',
                        title: 'Наименование',
                        sortable: false,
                        searchable: true
                    },                    
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#templateEdit', value);
                        }
                    }
                ]
            });


        });
    </script>

    <script id="templateEdit" type="text/x-handlebars-template">
        <a href="@Url.Action("PriceCol_Edit")/{{this}}" class="btn btn-warning btn-sm" title="Редакция"><i class="fa fa-edit"></i><span class="hidden-sm hidden-xs"></span></a>
    </script>
}
