@model CourtGroupVM
@using IOWebApplication.Infrastructure.Models.ViewModels.Common

@{
    ViewData["Title"] = "История съдии към група - " + Model.Label;

    var filterCaseGroupId = ViewBag.filterCaseGroupId;
}
@section breadcrumb{
    @if (ViewBag.breadcrumbs != null)
    {
        <partial name="Breadcrumbs" model="@(List<IOWebApplication.Infrastructure.Models.ViewModels.Common.BreadcrumbsVM>)ViewBag.breadcrumbs" />
    }
}
<div class="row">
    <div class="col-md-12">
        <form id="formEdit" asp-action="HistoryCourtGroupLawUnit" method="post">


            <div class="row">
                <div class="col-md-12">
                    <table id="mainTable" class="table table-hover table-striped"></table>
                </div>
            </div>


            <div class="form-group row col-md-12">

             
                <a href="@Url.Action("EditCourtGroupLawUnit", "CourtGroup", new { id = @Model.Id, ilterCaseGroupId = @ViewBag.filterCaseGroupId })" class="btn btn-danger" title="Назад"><span class="hidden-sm hidden-xs"> Назад</span></a>

            </div>
        </form>
    </div>
</div>
@section scripts {
    <script>
        $(function () {
            var table = $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListHistoryData")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.id = @(Model.Id);
                    }
                },
                columns: [
                    {    className: 'col-md-3',
                        name: 'fullName',
                        data: 'fullName',
                        title: 'Съдия',
                        sortable: true,
                        searchable: true
                    },
                         {
                        className: 'col-md-1',
                        name: 'dateFrom',
                        data: 'dateFrom',
                        title: 'От дата',
                        sortable: true,
                        searchable: false,
                        "render": function (value) {
                            if (value)
                                return moment(value).format("DD.MM.YYYY  HH:mm");
                            else
                                return "";
                        }
                    },
                    {
                        className: 'col-md-1',
                        name: 'dateTo',
                        data: 'dateTo',
                        title: 'До дата',
                        sortable: true,
                        searchable: false,
                        "render": function (value) {
                            if (value)
                                return moment(value).format("DD.MM.YYYY HH:mm");
                            else
                                return "до момента";
                        }
                    },
               
                    {    className: 'col-md-1',
                        name: 'loadIndex',
                        data: 'loadIndex',
                        title: 'Натовареност (%)',
                        sortable: true,
                        searchable: true
                    }

                ]
            });
        });
    </script>


}



