@model Print_CaseSessionNotificationListVM
@using IOWebApplication.Infrastructure.Models.ViewModels.Case

@{
    ViewData["Title"] = "Списък на страните";
}

@section breadcrumb{
    @if (ViewBag.breadcrumbs != null)
    {
        <partial name="Breadcrumbs" model="@(List<IOWebApplication.Infrastructure.Models.ViewModels.Common.BreadcrumbsVM>)ViewBag.breadcrumbs" />
    }
}

<div style="font-family: 'Times New Roman'">
    <center>
        <b>@Model.Title</b>
    </center>
    <br />
    <br />
    <center>
        <b>@Model.NameReport</b>
    </center>
    <center>
        <b>@Model.SessionTitle</b>
    </center>
    <br />
    <br />

    <table class="table-pml">
        <tr>
            <th>№ по ред</th>
            <th>Участие</th>
            <th>Име на лицето</th>
            <th>Адрес</th>
            <th>Връзки</th>
            <th>Забележка</th>
        </tr>

        @foreach (var notList in Model.NotificationLists)
        {
            <tr>
                <td align="center" width="15px">@notList.RowNumber</td>
                <td>@notList.PersonRole</td>
                <td>@notList.PersonName</td>
                <td>@notList.AddressString</td>
                <td>@notList.LinkForPersonString</td>
                <td>@notList.Remark</td>
            </tr>
        }
    </table>

</div>