@using IOWebApplication.Infrastructure.Models.ViewModels
@model CasePersonFilterVM

@{
    ViewData["Title"] = "Информация за страни ";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")" title="Начало"><i class="fa fa-home"></i></a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
}

<div class="row">
    <div class="col-md-6 col-lg-3">@Html.EditorFor(x => x.Uic)</div>
    <div class="col-md-6 col-lg-3">@Html.EditorFor(x => x.FullName)</div>
    <div class="col-md-6 col-lg-3">@Html.EditorFor(x => x.CaseRegNumber)</div>
</div>

<div class="row">
    <div class="col-lg-3">
        @Html.EditorFor(m => m.DateFrom, "DateTime")
    </div>
    <div class="col-lg-3">
        @Html.EditorFor(m => m.DateTo, "DateTime")
    </div>
    <div class="col-lg-2">
        @Html.EditorFor(m => m.FinalDateFrom, "DateTime")
    </div>
    <div class="col-lg-2">
        @Html.EditorFor(m => m.FinalDateTo, "DateTime")
    </div>
    <div class="col-lg-2">
        @Html.EditorFor(m => m.WithoutFinalDateTo, "DateTime")
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-left pb-15">
        <button type="button" class="btn btn-primary" id="btnFilter" onclick="LoadTable()" value="Филтриране" title="Филтриране">
            Филтриране
            <i class="fa fa-search" title="Търсене"></i>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="casePersonMainTable" class="table table-hover table-striped"></table>
    </div>
</div>

<script>
    function LoadTable() {
        if ($("#DateFrom").val() != '') {
            if ($("#DateTo").val() == '')
                return messageHelper.ShowErrorMessage('Полпълнете дата до', messageContainer);
        }

        if ($("#DateTo").val() != '') {
            if ($("#DateFrom").val() == '')
                return messageHelper.ShowErrorMessage('Полпълнете от дата', messageContainer);
        }

        if ($("#FinalDateFrom").val() != '') {
            if ($("#FinalDateTo").val() == '')
                return messageHelper.ShowErrorMessage('Полпълнете до дата на свършване', messageContainer);
        }

        if ($("#FinalDateTo").val() != '') {
            if ($("#FinalDateFrom").val() == '')
                return messageHelper.ShowErrorMessage('Полпълнете от дата на свършване', messageContainer);
        }

        if ($.fn.dataTable.isDataTable('#casePersonMainTable')) {
            refreshTable('#casePersonMainTable');
        }
        else {
            $('#casePersonMainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListDataReport", "CasePerson")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.uic = $('#Uic').val();
                        d.fullName = $('#FullName').val();
                        d.caseRegnumber = $("#CaseRegNumber").val();
                        d.DateFrom = $("#DateFrom").val();
                        d.DateTo = $("#DateTo").val();
                        d.FinalDateFrom = $("#FinalDateFrom").val();
                        d.FinalDateTo = $("#FinalDateTo").val();
                        d.WithoutFinalDateTo = $("#WithoutFinalDateTo").val();
                    }
                },
                filter: false,
                columns: [
                    {
                        name: 'caseNumber',
                        data: 'caseNumber',
                        title: 'Номер на дело',
                        "render": function (item, type, row, meta, data) {
                            var url = '@(Url.Action("CasePreview", "Case",new { id = 666}))';
                            url = url.replace('666', row.caseId);
                            return "<a style='cursor: pointer;' data-toggle='tooltip' title='Преглед' href=" + url + ">" + row.caseNumber + "</a>";
                        },
                        sortable: true,
                        searchable: true
                    },
                    {
                        className: 'col-md-1',
                        name: 'caseDate',
                        data: 'caseDate',
                        title: 'Дата',
                        sortable: true,
                        searchable: false,
                        "render": function (value) {
                            if (value)
                                return moment(value).format("DD.MM.YYYY");
                            else
                                return "";
                        }
                    },
                    {
                        name: 'uic',
                        data: 'uic',
                        title: 'Идентификатор на лице',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'fullName',
                        data: 'fullName',
                        title: 'Имена/Наименование на лице',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'roleName',
                        data: 'roleName',
                        title: 'Вид лице',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'caseStateLabel',
                        data: 'caseStateLabel',
                        title: 'Статус на дело',
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'actions',
                        data: "caseId",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#casePersonTemplateEdit', value);
                        }
                    }
                ]
            });
        }
    }
</script>

<script id="casePersonTemplateEdit" type="text/x-handlebars-template">
    <a href="@Url.Action("CasePreview", "Case")?id={{this}}" target="_blank" class="btn btn-dropbox btn-sm" title="Дело"><i class="fa fa-eye"></i><span class="hidden-sm hidden-xs"></span></a>
</script>
