@using IOWebApplication.Infrastructure.Models.ViewModels.Report
@using IOWebApplication.Infrastructure.Constants
@model CaseFinishListFilterReportVM

@{
    ViewData["Title"] = "Справка свършени дела за период – въззивни дела";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")" title="Начало"><i class="fa fa-home"></i></a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
}
<form name="formFilter" id="formFilter" action="@Url.Action("CaseFinishSecondInstanceListReportExportExcel")" method="post">
    <div class="row">
        <div class="col-lg-3">@Html.EditorFor(m => m.DateFrom, "DateTime")</div>
        <div class="col-lg-3">@Html.EditorFor(m => m.DateTo, "DateTime")</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.CaseGroupId, "GenericDropDown")</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.CaseTypeId, "GenericDropDown")</div>
    </div>
    <div class="row">
        <div class="col-lg-3">@Html.EditorFor(x => x.InitialCourtId, "SelectCourt")</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.CaseCodeId, "CaseCode", null, new { caseTypeContainer = "#CaseTypeId" })</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.JudgeReporterId, "LawUnit", null, new { lawUnitType = NomenclatureConstants.LawUnitTypes.Judge })</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.SessionResultId, "GenericDropDown")</div>
    </div>
    <div class="row">
    </div>
</form>

<div class="row">
    <div class="col-md-6 text-left pb-15">
        <button type="button" class="btn btn-primary" id="btnFilter" onclick="LoadTable()" value="Филтриране" title="Филтриране">
            Филтриране
            <i class="fa fa-search" title="Търсене"></i>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

<script>
    function LoadTable() {
        if ($.fn.dataTable.isDataTable('#mainTable')) {
            refreshTable('#mainTable');
        }
        else {
            $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListDataCaseFinishSecondInstanceListReport", "Report")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.model = {
                            DateFrom: $("#DateFrom").val(),
                            DateTo: $("#DateTo").val(),
                            CaseGroupId: $("#CaseGroupId").val(),
                            CaseTypeId: $("#CaseTypeId").val(),
                            JudgeReporterId: $("#JudgeReporterId").val(),
                            InitialCourtId: $("#InitialCourtId").val(),
                            SessionResultId: $("#SessionResultId").val(),
                            CaseCodeId: $("#CaseCodeId").val(),
                        };
                    }
                },
                filter: false,
                columns: [
                    {
                        name: 'caseTypeName',
                        data: 'caseTypeName',
                        title: 'Точен вид дело',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'caseRegNumber',
                        data: 'caseRegNumber',
                        title: 'Номер на дело',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'judgeReporterName',
                        data: 'judgeReporterName',
                        title: 'Съдия докладчик',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'initialCourtName',
                        data: 'initialCourtName',
                        title: 'Първоинстанционен съд',
                        sortable: true,
                        searchable: false,
                    },
                    {
                        name: 'caseCodeName',
                        data: 'caseCodeName',
                        title: 'Предмет и шифър',
                        sortable: true,
                        searchable: false,
                    },
                    {
                        name: 'actComplainResultName',
                        data: 'actComplainResultName',
                        title: 'Резултат/Степен на уважаване на иска',
                        sortable: true,
                        searchable: false,
                    },
                    {
                        name: 'sessionResultName',
                        data: 'sessionResultName',
                        title: 'Резултат от заседанието',
                        sortable: true,
                        searchable: false,
                    },
                    {
                        name: 'sessionResultStopBaseName',
                        data: 'sessionResultStopBaseName',
                        title: 'Причина за прекратяване',
                        sortable: true,
                        searchable: false,
                    },
                    {
                        className: "text-center",
                        name: 'caseDateFinish',
                        data: 'caseDateFinish',
                        title: 'Дата на приключване на делото',
                        sortable: true,
                        searchable: false,
                    },
                    {
                        className: "text-right",
                        name: 'caseLifecycleMonths',
                        data: 'caseLifecycleMonths',
                        title: 'Продължителност',
                        sortable: true,
                        searchable: false,
                    },
                ]
            });
        }
    }
</script>
<script>
    $(document).ready(function () {
        $('#CaseGroupId').trigger('change');

        $.fn.dataTable.ext.buttons.io_excel.action = function () {
            $("#formFilter").submit();
        };
    });

    $('#CaseGroupId').change(function () {
        var caseGroupId = $(this).val();
        requestCombo('@Url.Action("GetDDL_CaseTypeFromCourtType", "Ajax")', { CaseGroupId: $(this).val() }, '#CaseTypeId', @Model.CaseTypeId);
    });
</script>

<script>
    $(function () {
        initLawUnit();
        initCaseCode();
        initCourts();
    });
</script>
