@using IOWebApplication.Infrastructure.Models.ViewModels.Report
@model DismisalReportFilterVM

@{
    ViewData["Title"] = "Регистър на отводите и самоотводите";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")" title="Начало"><i class="fa fa-home"></i></a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
}
<form id="formFilter" method="post">
    @Html.HiddenFor(m => m.CaseGroupIds)
    @Html.HiddenFor(m => m.DepartmentIds)

    <div class="row">
        <div class="col-lg-2">@Html.EditorFor(m => m.DateFrom, "DateTime")</div>
        <div class="col-lg-2">@Html.EditorFor(m => m.DateTo, "DateTime")</div>
        <div class="col-lg-4">@Html.EditorFor(m => m.NumberCase)</div>
        <div class="col-lg-4">
            <div id="UserSelect">
                @Html.EditorFor(m => m.LawUnitId, "LawUnit", null, new { lawUnitTypes = "1,5" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">@Html.EditorFor(m => m.CaseGroupId, "GenericDropDownMultiple")</div>
        <div class="col-lg-4">@Html.EditorFor(m => m.DepartmentId, "GenericDropDownMultiple")</div>
    </div>
    <div class="row">
        <div class="col-md-6 text-left pb-15">
            <button type="submit" id="exportExcel" class="btn btn-primary">
                Експорт в Excel
                <i class="fa fa-file-excel-o" title="Търсене"></i>
            </button>
        </div>
    </div>
</form>

<script>
    $(function () {
        initLawUnit();
    });

    $(document).ready(function () {
        $('#CaseGroupId').select2({
        });
        $('#DepartmentId').select2({
        });
    });

    $('#exportExcel').click(function () {
        var str = $('#CaseGroupId').val();
        $('#CaseGroupIds').val(str);

        var str = $('#DepartmentId').val();
        $('#DepartmentIds').val(str);
    });
</script>
