@using IOWebApplication.Infrastructure.Models.ViewModels.Report
@using IOWebApplication.Infrastructure.Constants
@using IOWebApplication.Infrastructure.Contracts
@inject IUserContext userContext
@model DocumentInFilterReportVM

@{
    ViewData["Title"] = "Генериране на Входящ дневник";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")" title="Начало"><i class="fa fa-home"></i></a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
}
<form id="formFilter" method="post">
    @Html.HiddenFor(m => m.CaseTypeIds)
    <div class="row">
        <div class="col-lg-2">@Html.EditorFor(m => m.DateFrom, "DateTime")</div>
        <div class="col-lg-2">@Html.EditorFor(m => m.DateTo, "DateTime")</div>
        <div class="col-lg-4">@Html.EditorFor(m => m.DocumentKindId, "GenericDropDown")</div>
        <div class="col-lg-1">@Html.EditorFor(m => m.FromNumber, "Int32Nullable")</div>
        <div class="col-lg-1">@Html.EditorFor(m => m.ToNumber, "Int32Nullable")</div>
    </div>
    <div class="row">
        <div class="col-lg-4">@Html.EditorFor(m => m.CaseGroupId, "GenericDropDown")</div>
        <div class="col-lg-4">@Html.EditorFor(m => m.CaseTypeId, "GenericDropDownMultiple")</div>
    </div>
    <div class="row">
        <div class="col-lg-4">@Html.EditorFor(x => x.JudgeReporterId, "LawUnit", null, new { lawUnitTypes = NomenclatureConstants.LawUnitTypes.Judge.ToString(), courtId = userContext.CourtId })</div>
        <div class="col-lg-4">@Html.EditorFor(m => m.DepartmentId, "GenericDropDown")</div>
    </div>
    <div class="row">
        <div class="col-md-6 text-left pb-15">
            @if (userContext.IsSystemInFeature(NomenclatureConstants.SystemFeatures.ReqBooks))
            {
                <button type="button" onclick="ExcelData()" class="btn btn-primary">
                    Експорт в Excel
                    <i class="fa fa-file-excel-o" title="Търсене"></i>
                </button>
                <button type="button" onclick="ExcelDataPrev()" class="btn btn-primary">
                    Експорт в Excel стар
                    <i class="fa fa-file-excel-o" title="Търсене"></i>
                </button>
            }
            else
            {
                <button type="button" onclick="ExcelDataPrev()" class="btn btn-primary">
                    Експорт в Excel
                    <i class="fa fa-file-excel-o" title="Търсене"></i>
                </button>
            }
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#CaseTypeId').select2({
        });
        $('#CaseGroupId').trigger('change');
    });

    $('#CaseGroupId').change(function () {
        requestCombo('@Url.Action("GetDDL_CaseTypeByCourtType", "Ajax")', { CaseGroupId: $(this).val(), addDefaultElement: false}, '#CaseTypeId', @Model.CaseTypeId);
    });

    function ExcelData() {
        var str = $('#CaseTypeId').val();
        $('#CaseTypeIds').val(str);
        $('#formFilter').attr('action', '@Url.Action("DocumentInComingReport")');
        $("#formFilter").submit();
    }

    function ExcelDataPrev() {
        var str = $('#CaseTypeId').val();
        $('#CaseTypeIds').val(str);
        $('#formFilter').attr('action', '@Url.Action("DocumentInComingReportPrev")');
        $("#formFilter").submit();
    }

</script>

@section scripts {
    <script>
        initLawUnit();
    </script>
}