@using IOWebApplication.Infrastructure.Models.ViewModels.Report
@using IOWebApplication.Infrastructure.Constants
@inject IOWebApplication.Infrastructure.Contracts.IUserContext userContext
@model PublicInformationFilterReportVM

@{
    ViewData["Title"] = "Регистър на заявленията за достъп до обществена информация";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")" title="Начало"><i class="fa fa-home"></i></a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
}
<form id="formFilter" method="post">
    <div class="row">
        <div class="col-lg-2">@Html.EditorFor(m => m.DateFrom, "DateTime")</div>
        <div class="col-lg-2">@Html.EditorFor(m => m.DateTo, "DateTime")</div>
        <div class="col-lg-2">@Html.EditorFor(m => m.NumberFrom, "Int32Nullable")</div>
        <div class="col-lg-2">@Html.EditorFor(m => m.NumberTo, "Int32Nullable")</div>
    </div>
    <div class="row">
        <div class="col-md-6 text-left pb-15">
            @if (userContext.IsSystemInFeature(NomenclatureConstants.SystemFeatures.ReqBooks))
            {
                <button type="button" onclick="ExcelData()" class="btn btn-primary">
                    Експорт в Excel
                    <i class="fa fa-file-excel-o" title="Търсене"></i>
                </button>
                <button type="button" onclick="ExcelDataPrev()" class="btn btn-primary">
                    Експорт в Excel стар
                    <i class="fa fa-file-excel-o" title="Търсене"></i>
                </button>
            }
            else
            {
                <button type="button" onclick="ExcelDataPrev()" class="btn btn-primary">
                    Експорт в Excel
                    <i class="fa fa-file-excel-o" title="Търсене"></i>
                </button>
            }
        </div>
    </div>
</form>

<script>
    function ExcelData() {
        $('#formFilter').attr('action', '@Url.Action("PublicInformationReport")');
        $("#formFilter").submit();
    }

    function ExcelDataPrev() {
        $('#formFilter').attr('action', '@Url.Action("PublicInformationReportPrev")');
        $("#formFilter").submit();
    }
</script>