@using IOWebApplication.Infrastructure.Models.ViewModels.Report
@using IOWebApplication.Infrastructure.Constants
@model SessionActForDepersonalizeFilterReportVM

@{
    ViewData["Title"] = "Актове подлежащи на обезличаване";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")" title="Начало"><i class="fa fa-home"></i></a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
}
<form name="formFilter" id="formFilter" method="post">
    @Html.HiddenFor(m => m.CaseGroupIds_text)
    @Html.HiddenFor(m => m.CaseTypeIds_text)
    @Html.HiddenFor(m => m.ActTypeIds_text)
    <div class="row">
        <div class="col-lg-3">@Html.EditorFor(m => m.DateFrom, "DateTime")</div>
        <div class="col-lg-3">@Html.EditorFor(m => m.DateTo, "DateTime")</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.ActTypeIds, "GenericDropDownMultiple")</div>
        <div class="col-lg-3">@Html.EditorFor(m => m.IsFinalAct, "GenericDropDownString")</div>
    </div>

    <div class="row">
        <div class="col-lg-3">@Html.EditorFor(x => x.CaseGroupIds, "GenericDropDownMultiple")</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.CaseTypeIds, "GenericDropDownMultiple")</div>
    </div>

    <div class="row">
        <div class="col-lg-3">@Html.EditorFor(x => x.JudgeReporterId, "LawUnit", null, new { selectMode = NomenclatureConstants.LawUnitSelectMode.CurrentWithHistoryNoVAS, lawUnitType = NomenclatureConstants.LawUnitTypes.Judge })</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.CourtDepartmentId, "GenericDropDown")</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.CourtDepartmentOtdelenieId, "GenericDropDown")</div>
    </div>
</form>

<div class="row">
    <div class="col-md-6 text-left pb-15">
        <button type="button" class="btn btn-primary" id="btnFilter" onclick="LoadTable()" value="Филтриране" title="Филтриране">
            Филтриране
            <i class="fa fa-search" title="Търсене"></i>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

<script>
    function LoadTable() {
        if ($.fn.dataTable.isDataTable('#mainTable')) {
            refreshTable('#mainTable');
        }
        else {
            $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListDataSessionActForDepersonalizeReport", "Report")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.model = {
                            DateFrom: $("#DateFrom").val(),
                            DateTo: $("#DateTo").val(),
                            IsFinalAct: $("#IsFinalAct").val(),
                            CaseGroupIds_text: $('#CaseGroupIds_text').val(),
                            CaseTypeIds_text: $('#CaseTypeIds_text').val(),
                            ActTypeIds_text: $('#ActTypeIds_text').val(),
                            JudgeReporterId: $('#JudgeReporterId').val(),
                            CourtDepartmentId: $('#CourtDepartmentId').val(),
                            CourtDepartmentOtdelenieId: $('#CourtDepartmentOtdelenieId').val()
                        };
                    }
                },
                  filter:false,
                columns: [
                    {
                        name: 'caseTypeName',
                        data: 'caseTypeName',
                        title: 'Точен вид дело',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'caseRegNumber',
                        data: 'caseRegNumber',
                        title: 'Номер на дело',
                        "render": function (item, type, row, meta) {
                            var url = '@(Url.Action("CasePreview", "Case",new { id = 666}))';
                            url = url.replace('666', row.caseId);
                            return "<a style='cursor: pointer;' data-toggle='tooltip' target='_blank' title='Преглед' href=" + url + ">" + row.caseRegNumber + "</a>";
                        },
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'sessionActTypeName',
                        data: 'sessionActTypeName',
                        title: 'Вид',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'sessionActNumber',
                        data: 'sessionActNumber',
                        title: 'Номер',
                        "render": function (item, type, row, meta) {
                            var url = '@(Url.Action("Edit", "CaseSessionAct",new { id = 666}))';
                            url = url.replace('666', row.sessionActId);
                            return "<a style='cursor: pointer;' data-toggle='tooltip' target='_blank' title='Преглед' href=" + url + ">" + row.sessionActNumber + "</a>";
                        },
                        sortable: true,
                        searchable: true
                    },
                    {
                        className: "text-center",
                        name: 'sessionActDate',
                        data: 'sessionActDate',
                        title: 'Дата',
                        sortable: true,
                        searchable: false,
                        "render": function (value) {
                            if (value)
                                return moment(value).format("DD.MM.YYYY");
                            else
                                return "";
                        }
                    },
                    {
                        name: 'sessionTypeName',
                        data: 'sessionTypeName',
                        title: 'Заседание',
                        sortable: true,
                        searchable: true
                    },
                ]
            });
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('#CaseGroupIds').select2({
        });
        $('#CaseTypeIds').select2({
        });
        $('#ActTypeIds').select2({
        });
        $('#CaseGroupIds').trigger('change');
    });

    $('#CaseGroupIds').change(function () {
        var str = '';
        if ($('#CaseGroupIds').val() !== null && $('#CaseGroupIds').val().length > 0) {
            str = $('#CaseGroupIds').val().join(',');
        }
        $('#CaseGroupIds_text').val(str);
        requestCombo('@Url.Action("GetDDL_CaseTypes", "Ajax")', { caseGroupIds: str }, '#CaseTypeIds', @(Model.CaseTypeIds ?? "0"), function () { $('#CaseTypeIds').trigger('change') });
    });

    $('#CaseTypeIds').change(function () {
        var str = '';
        if ($('#CaseTypeIds').val() !== null && $('#CaseTypeIds').val().length > 0) {
            str = $('#CaseTypeIds').val().join(',');
        }
        $('#CaseTypeIds_text').val(str);
    });

    $('#ActTypeIds').change(function () {
        var str = '';
        if ($('#ActTypeIds').val() !== null && $('#ActTypeIds').val().length > 0) {
            str = $('#ActTypeIds').val().join(',');
        }
        $('#ActTypeIds_text').val(str);
    });

    $(function () {
        initLawUnit();
    })
</script>