@using IOWebApplication.Infrastructure.Models.ViewModels.Report
@model StateFeeFilterReportVM

@{
    ViewData["Title"] = "Справка за държавни такси";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")" title="Начало"><i class="fa fa-home"></i></a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
}
<form name="formFilter" id="formFilter" action="@Url.Action("StateFeeReportExportExcel")" method="post">
    <div class="row">
        <div class="col-lg-3">@Html.EditorFor(m => m.DateFrom, "DateTime")</div>
        <div class="col-lg-3">@Html.EditorFor(m => m.DateTo, "DateTime")</div>
    </div>
    <div class="row">
        <div class="col-lg-3">@Html.EditorFor(x => x.DocumentGroupId, "GenericDropDown")</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.DocumentTypeId, "GenericDropDown")</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.CaseGroupId, "GenericDropDown")</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.CaseTypeId, "GenericDropDown")</div>
    </div>
</form>

<div class="row">
    <div class="col-md-6 text-left pb-15">
        <button type="button" class="btn btn-primary" id="btnFilter" onclick="LoadTable()" value="Филтриране" title="Филтриране">
            Филтриране
            <i class="fa fa-search" title="Търсене"></i>
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="stateFeeMainTable" class="table table-hover table-striped"></table>
    </div>
</div>

<script>
    function LoadTable() {
        if ($.fn.dataTable.isDataTable('#stateFeeMainTable')) {
            refreshTable('#stateFeeMainTable');
        }
        else {
            $('#stateFeeMainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListDataStateFeeReport", "Report")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.model = {
                            DateFrom: $("#DateFrom").val(),
                            DateTo: $("#DateTo").val(),
                            DocumentGroupId: $("#DocumentGroupId").val(),
                            DocumentTypeId: $("#DocumentTypeId").val(),
                            CaseGroupId: $("#CaseGroupId").val(),
                            CaseTypeId: $("#CaseTypeId").val(),
                        };
                    }
                },
                  filter:false,
                columns: [
                    {
                        name: 'documentData',
                        data: 'documentData',
                        title: 'Вид дело/документ',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'paymentData',
                        data: 'paymentData',
                        title: 'Документ',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'caseTypeCode',
                        data: 'caseTypeCode',
                        title: 'Точен вид',
                        sortable: true,
                        searchable: false,
                    },
                    {
                        className: "text-center",
                        name: 'obligationDate',
                        data: 'obligationDate',
                        title: 'Дата',
                        sortable: true,
                        searchable: false,
                        "render": function (value) {
                            if (value)
                                return moment(value).format("DD.MM.YYYY");
                            else
                                return "";
                        }
                    },
                    {
                        name: 'senderName',
                        data: 'senderName',
                        title: 'Лице',
                        sortable: true,
                        searchable: true
                    },
                    {
                        className: "text-right",
                        name: 'amount',
                        data: 'amount',
                        title: 'Сума',
                        sortable: true,
                        searchable: false,
                        "render": function (value) {
                            if (value)
                                return parseFloat(value).toFixed(2);
                            else
                                return "0.00";
                        }
                    },
                    {
                        className: "text-center",
                        name: 'paidDate',
                        data: 'paidDate',
                        title: 'Внесена на',
                        sortable: true,
                        searchable: false,
                    },
                    {
                        name: 'paymentDescription',
                        data: 'paymentDescription',
                        title: 'Вносна бележка',
                        sortable: true,
                        searchable: false,
                    },
                    {
                        name: 'description',
                        data: 'description',
                        title: 'Текст',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (data, type, row) {
                            return TemplateToHtml('#templateEdit', row);
                        }
                    }
                ]
            });
        }
    }
</script>

<script id="templateEdit" type="text/x-handlebars-template">
    <div class="row">
        {{#if existCase}}
        <a href="@Url.Action("CasePreview", "Case")/{{caseId}}" class="btn btn-def btn-sm" title="Дело"><i class="fa fa-eye"></i><span class="hidden-sm hidden-xs"></span></a>
        {{/if}}
    </div>
</script>

<script>
    $(document).ready(function () {
        $('#DocumentGroupId').trigger('change');
        $('#CaseGroupId').trigger('change');

        $.fn.dataTable.ext.buttons.io_excel.action = function () {
            $("#formFilter").submit();
        };
    });

    $('#DocumentGroupId').change(function () {
        requestCombo('@Url.Action("GetDDL_DocumentType", "Ajax")', { documentGroupId: $(this).val(), addDefaultElement: true }, '#DocumentTypeId', @Model.DocumentTypeId);
    });

    $('#CaseGroupId').change(function () {
        requestCombo('@Url.Action("GetDDL_CaseTypeFromCourtType", "Ajax")', { CaseGroupId: $(this).val()}, '#CaseTypeId', @Model.CaseTypeId);
    });
</script>
