@using IOWebApplication.Infrastructure.Models.ViewModels.Report
@model ZzdnFilterReportVM

@{
    ViewData["Title"] = "Регистър по чл. 10, ал. 2 от ЗЗДН";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")" title="Начало"><i class="fa fa-home"></i></a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
}
<form id="formFilter" method="post">
    <div class="row">
        <div class="col-lg-3">@Html.EditorFor(m => m.FromDateDocument, "DateTime")</div>
        <div class="col-lg-3">@Html.EditorFor(m => m.ToDateDocument, "DateTime")</div>
    </div>
    <div class="row">
        <div class="col-lg-3">@Html.EditorFor(m => m.CaseYear, "DateTimeYear")</div>
        <div class="col-lg-3">@Html.EditorFor(m => m.FromCaseNumber, "Int32Nullable")</div>
        <div class="col-lg-3">@Html.EditorFor(m => m.ToCaseNumber, "Int32Nullable")</div>
    </div>
    <div class="row">
        <div class="col-md-6 text-left pb-15">
            <button type="submit" class="btn btn-primary">
                Експорт в Excel
                <i class="fa fa-file-excel-o" title="Търсене"></i>
            </button>
        </div>
    </div>
</form>
