@using IOWebApplication.Infrastructure.Models.ViewModels.Case
@model CaseMoneyExpenseEditVM

@{
    IAccessControl access = (IAccessControl)ViewBag.AccessControl;
}

@using (Html.BeginForm(FormMethod.Post, null, new { id = "cmeModalForm" }))
{
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.CaseId)
    @Html.HiddenFor(x => x.CourtId)

    <div class="row" id="CasePerson">
        <div class="col-lg-6">@Html.EditorFor(x => x.CaseMoneyExpenseTypeId, "GenericDropDown")</div>
    </div>

    <div class="row">
        <div class="col-lg-4">@Html.EditorFor(x => x.CurrencyId, "GenericDropDown")</div>
        <div id="InitialAmount_Div" class="col-lg-4">@Html.EditorFor(x => x.Amount, "Decimal")</div>
    </div>

    <div class="row">
        <div class="col-lg-12">@Html.EditorFor(x => x.Description, "Textarea")</div>
    </div>

    <div class="row">
        <div class="col-lg-3">@Html.EditorFor(x => x.JointDistribution, "Boolean")</div>
    </div>

    <div id="PersonList_Div">
        <fieldset class="is-fieldset">
            <legend class="legend_1">Разпределение на разноска</legend>
            @Html.EditorFor(x => x.CasePersonListDecimals, new { visibleValueTwo = false })
        </fieldset>
    </div>

    <div class="form-group">
        @if (access.CanChange)
        {
            <input type="submit" value="Запис" class="btn btn-success" />
        }
    </div>
}

<div id="modalMessageContainer">
</div>

<script>
    $(document).ready(function () {
        SH_PersonList();
    });

    $(function () {
        attachAjaxForm('#cmeModalForm', function (data) {
            var resultSave = data.responseJSON.result;
            if (resultSave > 0) {
                cmcLoadData("Expense");
                HideModal();
                messageHelper.ShowSuccessMessage('Претендираната разноска е създадена успешно.');
            } else {
                messageHelper.ShowErrorMessage(data.responseJSON.message, '#modalMessageContainer');
            }
        });
        initDatePicker();
    })

    $('#JointDistribution').change(function () {
        SH_PersonList();
    });

    function SH_PersonList() {
        //debugger;
        var jointDistrib = $("#JointDistribution").is(":checked");
        if (jointDistrib) {
            $("#PersonList_Div").hide();
        }
        else {
            $("#PersonList_Div").show();
        }
    }
</script>
