@model CaseMainDataVM
@using IOWebApplication.Infrastructure.Models.ViewModels

@{
    IAccessControl access = (IAccessControl)ViewBag.AccessControl;
}

@if (access.CanChange)
{
    <div class="row">
        <div class="col-md-12 text-right pb-15">
            <a asp-controller="CaseLifecycle" asp-action="Add" asp-route-caseId="@Model.Id" class="btn btn-success btn-sm">
                <i class="fa fa-plus"></i>
                Добави
            </a>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <table id="caseLifecycleMainTable" class="table table-hover table-striped"></table>
    </div>
</div>


<script>
        $(function () {
            var table = $('#caseLifecycleMainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListData", "CaseLifecycle")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.caseId = @Model.Id;
                    }

                },
                columns: [
                    {
                        name: 'iterationText',
                        data: 'iterationText',
                        title: 'Интервал',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'lifecycleTypeLabel',
                        data: 'lifecycleTypeLabel',
                        title: 'Активност',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'dateFrom',
                        data: 'dateFrom',
                        title: 'От дата',
                        sortable: true,
                        searchable: true,
                        render: function (value) {
                            return JsonBGdate(value);
                        }
                    },
                    {
                        name: 'dateTo',
                        data: 'dateTo',
                        title: 'До дата',
                        sortable: true,
                        searchable: true,
                        render: function (value) {
                            if (value)
                                 return JsonBGdate(value);
                            else
                                return "";

                        }
                    },
                    {
                        name: 'durationMonths',
                        data: 'durationMonths',
                        title: 'Продължителност в месеци',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (data, type, row) {
                            return TemplateToHtml('#caseLifecycleTemplateEdit', row);
                        }
                    }
                ]
            }).order([[ 2, "asc" ]]);
        });
</script>

<script id="caseLifecycleTemplateEdit" type="text/x-handlebars-template">
    {{#if modelEdit}}
    @if (access.CanChange)
    {
        <a href="@Url.Action("Edit", "CaseLifecycle")?id={{id}}" class="btn btn-warning btn-sm" title="Редакция"><i class="fa fa-edit"></i><span class="hidden-sm hidden-xs"></span></a>
    }
    else
    {
        <a href="@Url.Action("Edit", "CaseLifecycle")?id={{id}}" class="btn btn-def btn-sm" title="Преглед"><i class="fa fa-eye"></i><span class="hidden-sm hidden-xs"></span></a>
    }
    {{/if}}
</script>


