@model IEnumerable<MQEpepVM>
@using IOWebApplication.Infrastructure.Constants
@using IOWebApplication.Infrastructure.Models.ViewModels.Epep
@using static IOWebApplication.Infrastructure.Constants.EpepConstants;

@{
    bool isGlobalAdmin = (bool)ViewBag.isGlobalAdmin;
    bool isSupervisor = (bool)ViewBag.isSupervisor;
}

@if (Model.Any())
{
    <table class="table table-condensed" width="100%">
        <tr>
            <th>Дата</th>
            @*<th>Операция</th>*@
            <th>Статус</th>
            @if (isGlobalAdmin)
            {
                <th>Описание</th>
            }
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(item.DateWrt.ToString("dd.MM.yyyy HH:mm"))
                </td>
                @*<td>
                        @item.OperName
                    </td>*@

                @switch (item.StateId)
                {
                    case IntegrationStates.New:
                        <td>Нова</td>
                        break;
                    case IntegrationStates.TransferOK:
                        <td>Успешна</td>
                        break;
                    case IntegrationStates.WaitForParentIdError:
                        <td>Изчаква предходен обект</td>
                        break;
                    case IntegrationStates.MissingLawyerError:
                        <td>Ненамерен адвокат</td>
                        break;

                    case IntegrationStates.TransferError:
                    case IntegrationStates.TransferErrorLimitExceeded:
                        <td>Грешка при трансфер</td>
                        break;
                    default:
                        <td>Грешка в данните</td>
                        break;
                }
                @if (isGlobalAdmin)
                {
                    <td>@item.Id; @item.ErrorDescription</td>
                }
            </tr>
        }
    </table>
    @if (isSupervisor && Model.Any(x => EpepConstants.IntegrationStates.ResetMQErrorStates.Contains(x.StateId)))
    {
        <a href="#" onclick="loadMqResetData();return false;" class="btn btn-sm btn-warning">Повторен трансфер</a>
    }
}
else
{
    <p>Няма данни.</p>
}
<script>
    function loadMqResetData() {
        var _url = "@Html.Raw(ViewBag.resetUrl)" + '&returnToMQ=true';
        requestContent(_url, null, function (html) {
            let _title = $('.master-modal .modal-title:first').text();
            ShowModalDialog(_title, html, true);
        });
    }
</script>