@{
    ViewData["Title"] = "ЕПЕП - Потребители";
}
@model IOWebApplication.Infrastructure.Models.ViewModels.Epep.EpepUserFilterVM
@section breadcrumb{
    @if (ViewBag.breadcrumbs != null)
    {
        <partial name="Breadcrumbs" model="@(List<IOWebApplication.Infrastructure.Models.ViewModels.Common.BreadcrumbsVM>)ViewBag.breadcrumbs" />
    }
}
<div class="row">
    <div class="col-lg-3">@Html.EditorFor(m => m.EpepUserTypeId, "GenericDropDown")</div>
    <div class="col-lg-3">@Html.EditorFor(m => m.FullName)</div>
    <div class="col-lg-3">@Html.EditorFor(m => m.Email)</div>
</div>

<div class="row">
    <div class="col-md-6 text-left pb-15">
        <button type="button" class="btn btn-primary" id="btnFilter" onclick="refreshTable('#mainTable')" value="Филтриране" title="Филтриране">
            Филтриране
            <i class="fa fa-search" title="Търсене"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right pb-15">
        <a asp-action="EpepUser_Add" class="btn btn-success">
            <i class="fa fa-plus"></i>
            Добави
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var table = $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("EpepUser_ListData")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.filter = {
                            EpepUserTypeId: $('#EpepUserTypeId').val(),
                            FullName: $('#FullName').val(),
                            Email: $('#Email').val()
                        }
                    }
                },
                filter:false,
                columns: [
                    {
                        name: 'userTypeName',
                        data: 'userTypeName',
                        title: 'Вид',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'fullName',
                        data: 'fullName',
                        title: 'Имена',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'lawyerNumber',
                        data: 'lawyerNumber',
                        title: 'Номер',
                        sortable: true,
                        searchable: true
                    }
                    ,{
                        name: 'email',
                        data: 'email',
                        title: 'Електронна поща',
                        sortable: true,
                        searchable: true
                    }
                    ,
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#templateEdit', value);
                        }
                    }
                ]
            });
        });
    </script>

    <script id="templateEdit" type="text/x-handlebars-template">
        <a href="@Url.Action("EpepUser_Edit")/{{this}}" class="btn btn-warning btn-sm" title="Редакция"><i class="fa fa-edit"></i><span class="hidden-sm hidden-xs"></span></a>
    </script>
}
