@model EpepManageDataVM
@using  IOWebApplication.Infrastructure.Constants
@using IOWebApplication.Infrastructure.Models.ViewModels.Epep

@{
    ViewData["Title"] = "Корекция на данни в ЕПЕП";
}
<div class="row">
    <div class="col-md-6">
        <form asp-action="ManageData" method="post">


            <fieldset class="is-fieldset">
                <legend class="legend_1">Основни данни</legend>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div id="saveContainer">
                    <partial name="_SaveFormContent" model="@("#saveContainer")" />
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="text-warning">@Model.ResponseMessage</h4>
                        </div>
                    </div>

                    @Html.EditorFor(x => x.DataType, "GenericDropDown")
                    @Html.EditorFor(x => x.ObjectId)
                    @Html.EditorFor(x => x.SecurityCode, "Password")
                </div>
            </fieldset>
            <div class="form-group">
                <input type="submit" value="Премахване" class="btn btn-danger btn-md" />
                <div class="pull-right">
                    @await Html.PartialAsync("_ShowLogOperation", new IOWebApplication.Core.Models.ShowLogModel() { ObjectKey = "1" })
                </div>
            </div>

        </form>
    </div>

</div>
