@model Print_CaseSessionNotificationListVM
@using IOWebApplication.Infrastructure.Models.ViewModels.Case
@{
    Layout = null;
}
<div style="font-family: 'Times New Roman'">
    <center>
        <b>@Model.Title</b>
    </center>
    <br />
    <br />
    <center>
        <b>@Model.NameReport</b>
    </center>
    <center>
        <b>@Model.SessionTitle</b>
    </center>
    <br />
    <br />

    <table class="bordered">
        <tr>
            <th>№ по ред</th>
            <th>Качество на призован</th>
            <th>Имена</th>
            <th>Адрес</th>
            <th>Забележка</th>
            <th>Дата на изпращане</th>
        </tr>

        @foreach (var notList in Model.NotificationLists)
        {
            <tr style="page-break-inside: avoid">
                <td align="center" width="10%">@notList.RowNumber</td>
                <td width="10%">@notList.PersonRole</td>
                <td width="10%">@notList.PersonName</td>
                <td width="30%">@notList.AddressString.Replace("<br>", Environment.NewLine)</td>
                <td width="25%">@notList.Remark.Replace("</br>", Environment.NewLine)</td>
                <td align="center" width="10%">@notList.DateSend?.ToString("dd.MM.yyyy HH:mm")</td>
            </tr>
        }
    </table>

</div>

