@model CaseSessionActCommandVM
@using IOWebApplication.Infrastructure.Models.ViewModels.Case
@{
    Layout = null;
}

    <div style="font-family: 'Times New Roman'">
        <center>
            <b>ИЗПЪЛНИТЕЛЕН ЛИСТ № @Model.CaseSessionActPrint.ActRegNumber</b><br /><br />
            @Model.CaseSessionActPrint.CourtCity   @DateTime.Now.ToString("dd.MM.yyyy")г.<br /><br />
            <b>В ИМЕТО НА НАРОДА</b><br /><br />
        </center>
        <br />
        @Model.CaseSessionActPrint.CourtName, @Model.CaseSessionActPrint.DepartmentName състав на основание чл. 416 във връзка с чл. 410 от Гражданския процесуален кодекс като констатира, че Разпореждане № @Model.CaseSessionActPrint.ActRegNumber/@Model.CaseSessionActPrint.ActRegDate по @Model.CaseSessionActPrint.CaseTypeName № @Model.CaseSessionActPrint.CaseRegNumber/@Model.CaseSessionActPrint.CaseRegYear по описа на @Model.CaseSessionActPrint.CourtName, @Model.CaseSessionActPrint.DepartmentName подлежи на изпълнение, разпореди да се издаде следния<br />
        <br />
        <center>
            <b>ИЗПЪЛНИТЕЛЕН ЛИСТ</b><br />
        </center>
        <br />

        @foreach (var rightSide in Model.CaseSessionActPrint.RightSide)
        {
            @Html.Raw(rightSide + "<br />");
        }

        @if (Model.CaseSessionActPrint.RightSide.Count() > 1)
        {
            @Html.Raw("да заплатят солидарно/разделно на " + "<br />");
        }
        else
        {
            @Html.Raw("да заплати солидарно/разделно на " + "<br />");
        }

        @foreach (var leftSide in Model.CaseSessionActPrint.LeftSide)
        {
            @Html.Raw(leftSide + "<br />");
        }
        <br />
        @foreach (var caseMoneyClaim in Model.CaseFastProcessView.CaseMoneyClaims)
        {
            foreach (var caseMoneyCollection in caseMoneyClaim.CaseMoneyCollections.Where(x => x.IsMoney))
            {
                @Html.Raw(caseMoneyCollection.CaseMoneyCollectionTypeLabel + " в размер на " + caseMoneyCollection.PretendedAmount + " " + caseMoneyCollection.CurrencyCode + " /" + caseMoneyCollection.PretendedAmountString + "/ " + "<br />");

                @if (caseMoneyCollection.MoneyCollectionPersons.Count > 0)
                {
                    @Html.Raw("При условията на разпределеност:" + "<br />");
                    foreach (var caseMoneyCollectionPerson in caseMoneyCollection.MoneyCollectionPersons)
                    {
                        @Html.Raw(caseMoneyCollectionPerson.CasePersonLabel + " в размер на " + caseMoneyCollectionPerson.PersonAmount + " " + caseMoneyCollectionPerson.CurrencyCode + " /" + caseMoneyCollectionPerson.PersonAmountString + "/ " + "<br />");
                    }
                }

                foreach (var caseMoneyCollectionExtra in caseMoneyCollection.CaseMoneyCollectionExtras)
                {
                    @Html.Raw("с " + caseMoneyCollectionExtra.PretendedAmount + " " + caseMoneyCollection.CurrencyCode + " /" + caseMoneyCollectionExtra.PretendedAmountString + "/ " + caseMoneyCollectionExtra.CaseMoneyCollectionKindLabel + " от " + caseMoneyCollectionExtra.DateFrom?.ToString("dd.MM.yyyy") + "г. до " + caseMoneyCollectionExtra.DateTo?.ToString("dd.MM.yyyy") + "г.<br />");

                    @if (caseMoneyCollectionExtra.MoneyCollectionPersons.Count > 0)
                    {
                        @Html.Raw("При условията на разпределеност:" + "<br />");
                        foreach (var caseMoneyCollectionPerson in caseMoneyCollectionExtra.MoneyCollectionPersons)
                        {
                            @Html.Raw(caseMoneyCollectionPerson.CasePersonLabel + " в размер на " + caseMoneyCollectionPerson.PersonAmount + " " + caseMoneyCollectionPerson.CurrencyCode + " /" + caseMoneyCollectionPerson.PersonAmountString + "/ " + "<br />");
                        }
                    }
                }
            }
        }
        и да върне:<br />
        @foreach (var caseMoneyClaim in Model.CaseFastProcessView.CaseMoneyClaims)
        {
            foreach (var caseMoneyCollection in caseMoneyClaim.CaseMoneyCollections.Where(x => x.IsItem))
            {
                @Html.Raw(caseMoneyCollection.Description + " на стойност " + caseMoneyCollection.PretendedAmount + " " + caseMoneyCollection.CurrencyCode + " /" + caseMoneyCollection.PretendedAmountString + "/ " + "<br />");
                foreach (var caseMoneyCollectionExtra in caseMoneyCollection.CaseMoneyCollectionExtras)
                {
                    @Html.Raw("с " + caseMoneyCollectionExtra.PretendedAmount + " " + caseMoneyCollection.CurrencyCode + " /" + caseMoneyCollectionExtra.PretendedAmountString + "/ " + caseMoneyCollectionExtra.CaseMoneyCollectionKindLabel + " от " + caseMoneyCollectionExtra.DateFrom?.ToString("dd.MM.yyyy") + "г. до " + caseMoneyCollectionExtra.DateTo?.ToString("dd.MM.yyyy") + "г.<br />");
                }
            }
        }
        както и сумите:<br />
        @foreach (var caseMoneyExpense in Model.CaseFastProcessView.CaseMoneyExpenses)
        {
            @Html.Raw("&nbsp;&nbsp; - " + caseMoneyExpense.Amount + " " + caseMoneyExpense.CurrencyCode + " /" + caseMoneyExpense.AmountString + "/ " + caseMoneyExpense.CaseMoneyExpenseTypeLabel + "<br />");
        }
        разноски по делото.<br />
        Вземането произтича от следните обстоятелства:<br />
        @foreach (var caseMoneyClaim in Model.CaseFastProcessView.CaseMoneyClaims)
        {
            if (caseMoneyClaim.CaseMoneyCollections.Any(x => x.IsMoney || x.IsItem))
            {
                @Html.Raw("&nbsp;&nbsp; - " + caseMoneyClaim.CaseMoneyClaimGroupLabel + ((caseMoneyClaim.CaseMoneyClaimTypeLabel != string.Empty) ? " - " + caseMoneyClaim.CaseMoneyClaimTypeLabel : string.Empty) + "<br />");
            }
        }
        Присъдената сума може да бъде:<br />
        @foreach (var caseBankAccount in Model.CaseFastProcessView.CaseBankAccounts.OrderBy(x => x.CaseBankAccountTypeId))
        {
            if (caseBankAccount.CaseBankAccountTypeId == 1)
            {
                @Html.Raw("&nbsp;&nbsp; - внесена по следната банкова сметка на заявителя/кредитора IBAN: " + caseBankAccount.LabelIBAN + " BIC: " + caseBankAccount.LabelBIC + " " + caseBankAccount.BankName + "<br />");
            }
            else
            {
                @Html.Raw("&nbsp;&nbsp; - платена по следния начин: " + caseBankAccount.Description + "<br />");
            }
        }
        <br />
        <b>Този изпълнителен лист се издава в полза на</b><br />
        @foreach (var leftSide in Model.CaseSessionActPrint.LeftSide)
        {
            @Html.Raw(leftSide + "<br />");
        }
        <br />
        <b>Задължават се органите на държавното управление да оказват съдействие на съдебния изпълнител, за привеждане в изпълнение на изпълнителния лист.</b>
        <br />
        <br />
        <div align="right">
            Районен съдия: ...............................................<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( @Model.CaseSessionActPrint.JudgeReporter )
        </div>
    </div>

