@model CaseSessionActCommandVM
@using IOWebApplication.Infrastructure.Models.ViewModels.Case
@{
    Layout = null;
}

<style>
    div.just {
        text-align: justify;
        text-justify: inter-word;
    }
</style>

<div style="font-family: 'Times New Roman'">
    <center>
        <b>ИЗПЪЛНИТЕЛЕН ЛИСТ № @Model.CaseSessionActPrint.ActRegNumber</b><br /><br />
        @Model.CaseSessionActPrint.CourtCity   @DateTime.Now.ToString("dd.MM.yyyy")г.<br /><br />
        <b>В ИМЕТО НА НАРОДА</b><br /><br />
    </center>
    <br />
    <div class="just">
        @Model.CaseSessionActPrint.CourtName, @Model.CaseSessionActPrint.DepartmentName състав на основание чл. 416 във връзка с чл. 410 от Гражданския процесуален кодекс като констатира, че @Model.CaseSessionActPrint.RelatedActTypeName № @Model.CaseSessionActPrint.RelatedActNumber/@Model.CaseSessionActPrint.RelatedActYear по @Model.CaseSessionActPrint.CaseTypeName № @Model.CaseSessionActPrint.CaseRegNumber/@Model.CaseSessionActPrint.CaseRegYear по описа на @Model.CaseSessionActPrint.CourtName, @Model.CaseSessionActPrint.DepartmentName подлежи на изпълнение, разпореди да се издаде следния<br />
    </div>
    <br />
    <center>
        <b>ИЗПЪЛНИТЕЛЕН ЛИСТ</b><br />
    </center>
    <br />

    @Html.Raw("<div class='just'>")
    @Html.Raw("Осъжда " + string.Join(" и ", Model.CaseSessionActPrint.RightSide) + "<br />")
    @Html.Raw("</div>")

    @if (Model.CaseSessionActPrint.RightSide.Count() > 1)
    {
        @Html.Raw("да заплатят на " + "<br />")
    }
    else
    {
        @Html.Raw("да заплати на " + "<br />")
    }

    @Html.Raw("<div class='just'>")
    @Html.Raw(string.Join(" и ", Model.CaseSessionActPrint.LeftSide) + "<br />")
    @Html.Raw("</div>")
    <br />
    @foreach (var caseMoneyClaim in Model.CaseFastProcessView.CaseMoneyClaims)
    {
        @Html.Raw("сумата " + caseMoneyClaim.FullSum + " /" + caseMoneyClaim.FullSumText + "/");
        foreach (var caseMoneyCollection in caseMoneyClaim.CaseMoneyCollections.Where(x => x.IsMoney && ((x.RespectedAmount > 0) || (x.PretendedAmount == 0 && x.RespectedAmount == 0))))
        {
            @Html.Raw("<div class='just'>")
            @Html.Raw("за " + caseMoneyCollection.CaseMoneyCollectionTypeLabel + (caseMoneyCollection.RespectedAmount > 0 ? " в размер на " + caseMoneyCollection.RespectedAmount + " " + caseMoneyCollection.CurrencyCode + " /" + caseMoneyCollection.RespectedAmountString + "/ " : string.Empty) + ((caseMoneyCollection.JointDistributionBool && (Model.CaseSessionActPrint.RightSide.Count() > 1)) ? "солидарно" : string.Empty) + " <br />");
            @Html.Raw("</div>")

            @if (!caseMoneyCollection.JointDistributionBool)
            {
                @if (caseMoneyCollection.MoneyCollectionPersons.Where(x => x.RespectedAmount > 0).ToList().Count > 0)
                {
                    @Html.Raw("Разделно на:" + "<br />");
                    foreach (var caseMoneyCollectionPerson in caseMoneyCollection.MoneyCollectionPersons.Where(x => x.RespectedAmount > 0))
                    {
                        @Html.Raw(caseMoneyCollectionPerson.CasePersonLabel + " в размер на " + caseMoneyCollectionPerson.RespectedAmount + " " + caseMoneyCollectionPerson.CurrencyCode + " /" + caseMoneyCollectionPerson.RespectedAmountString + "/ " + "<br />");
                    }
                }
            }

            foreach (var caseMoneyCollectionExtra in caseMoneyCollection.CaseMoneyCollectionExtras.Where(x => ((x.RespectedAmount > 0) || (x.PretendedAmount == 0 && x.RespectedAmount == 0))))
            {
                @Html.Raw("<div class='just'>")
                @Html.Raw("с/със " + (caseMoneyCollectionExtra.RespectedAmount > 0 ? caseMoneyCollectionExtra.RespectedAmount + " " + caseMoneyCollection.CurrencyCode + " /" + caseMoneyCollectionExtra.RespectedAmountString + "/ " : string.Empty) + caseMoneyCollectionExtra.CaseMoneyCollectionKindLabel + " от " + caseMoneyCollectionExtra.DateFrom?.ToString("dd.MM.yyyy") + "г. " + caseMoneyCollectionExtra.DateToLabel + ((caseMoneyCollectionExtra.JointDistributionBool && (Model.CaseSessionActPrint.RightSide.Count() > 1)) ? " солидарно" : string.Empty) + " <br />");
                @Html.Raw("</div>")

                @if (!caseMoneyCollectionExtra.JointDistributionBool)
                {
                    @if (caseMoneyCollectionExtra.MoneyCollectionPersons.Where(x => x.RespectedAmount > 0).ToList().Count > 0)
                    {
                        @Html.Raw("Разделно на:" + "<br />");
                        foreach (var caseMoneyCollectionPerson in caseMoneyCollectionExtra.MoneyCollectionPersons.Where(x => x.RespectedAmount > 0))
                        {
                            @Html.Raw(caseMoneyCollectionPerson.CasePersonLabel + " в размер на " + caseMoneyCollectionPerson.RespectedAmount + " " + caseMoneyCollectionPerson.CurrencyCode + " /" + caseMoneyCollectionPerson.RespectedAmountString + "/ " + "<br />");
                        }
                    }
                }
            }
        }
    }
    и да върне:<br />
    @foreach (var caseMoneyClaim in Model.CaseFastProcessView.CaseMoneyClaims)
    {
        foreach (var caseMoneyCollection in caseMoneyClaim.CaseMoneyCollections.Where(x => x.IsItem))
        {
            @Html.Raw("и да върне:<br />");
            @Html.Raw(caseMoneyCollection.Description + " на стойност " + caseMoneyCollection.PretendedAmount + " " + caseMoneyCollection.CurrencyCode + " /" + caseMoneyCollection.PretendedAmountString + "/ " + "<br />");
            foreach (var caseMoneyCollectionExtra in caseMoneyCollection.CaseMoneyCollectionExtras)
            {
                @Html.Raw("с/със " + caseMoneyCollectionExtra.PretendedAmount + " " + caseMoneyCollection.CurrencyCode + " /" + caseMoneyCollectionExtra.PretendedAmountString + "/ " + caseMoneyCollectionExtra.CaseMoneyCollectionKindLabel + " от " + caseMoneyCollectionExtra.DateFrom?.ToString("dd.MM.yyyy") + "г. до " + caseMoneyCollectionExtra.DateTo?.ToString("dd.MM.yyyy") + "г.<br />");
            }
        }
    }
    @if (Model.CaseFastProcessView.CaseMoneyExpenses.Count > 0)
    {
        @Html.Raw("както и сумите:<br />");
        foreach (var caseMoneyExpense in Model.CaseFastProcessView.CaseMoneyExpenses)
        {
            @Html.Raw("&nbsp;&nbsp; - " + caseMoneyExpense.Amount + " " + caseMoneyExpense.CurrencyCode + " /" + caseMoneyExpense.AmountString + "/ " + caseMoneyExpense.CaseMoneyExpenseTypeLabel + "<br />");
            @if (!caseMoneyExpense.JointDistributionBool)
            {
                @if (caseMoneyExpense.MoneyExpensePeople.Where(x => x.PersonAmount > 0).ToList().Count > 0)
                {
                    @Html.Raw("&nbsp;&nbsp;&nbsp; Разделно на:" + "<br />");
                    foreach (var caseMoneyExpensePerson in caseMoneyExpense.MoneyExpensePeople.Where(x => x.PersonAmount > 0))
                    {
                        @Html.Raw("&nbsp;&nbsp;&nbsp; " + caseMoneyExpensePerson.CasePersonLabel + " в размер на " + caseMoneyExpensePerson.PersonAmount + " " + caseMoneyExpensePerson.CurrencyCode + " /" + caseMoneyExpensePerson.PersonAmountString + "/ " + "<br />");
                    }
                }
            }
        }
        @Html.Raw("разноски по делото.<br />");
    }
    Вземането произтича от следните обстоятелства:<br />
    @foreach (var caseMoneyClaim in Model.CaseFastProcessView.CaseMoneyClaims)
    {
        if (caseMoneyClaim.CaseMoneyCollections.Any(x => x.IsMoney || x.IsItem))
        {
            @Html.Raw("<div class='just'>")
            @Html.Raw("&nbsp;&nbsp;" + (caseMoneyClaim.CaseMoneyClaimTypeLabel == string.Empty ? " - " + caseMoneyClaim.CaseMoneyClaimGroupLabel : string.Empty) + ((caseMoneyClaim.CaseMoneyClaimTypeLabel != string.Empty) ? " - " + caseMoneyClaim.CaseMoneyClaimTypeLabel : string.Empty) + (!string.IsNullOrEmpty(caseMoneyClaim.ClaimNumber) ? " Номер: " + caseMoneyClaim.ClaimNumber : string.Empty) + " <br />");
            @Html.Raw("</div>")
        }
    }
    Присъдената сума може да бъде:<br />
    @foreach (var caseBankAccount in Model.CaseFastProcessView.CaseBankAccounts.OrderBy(x => x.CaseBankAccountTypeId))
    {
        if (caseBankAccount.CaseBankAccountTypeId == 1)
        {
            @Html.Raw("&nbsp;&nbsp; - внесена по следната банкова сметка на заявителя/кредитора IBAN: " + caseBankAccount.LabelIBAN + " BIC: " + caseBankAccount.LabelBIC + " " + caseBankAccount.BankName + "<br />");
        }
        else
        {
            @Html.Raw("&nbsp;&nbsp; - платена по следния начин: " + caseBankAccount.Description + "<br />");
        }
    }
    <br />
    <b>Този изпълнителен лист се издава в полза на</b><br />
    @Html.Raw("<div class='just'>")
    @Html.Raw(string.Join(" и ", Model.CaseSessionActPrint.LeftSide) + "<br />")
    @Html.Raw("</div>")
    <br />
    <b>Задължават се органите на държавното управление да оказват съдействие на съдебния изпълнител, за привеждане в изпълнение на изпълнителния лист.</b>
    <br />
    <br />
    <div align="right">
        Районен съдия: ...............................................<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;( @Model.CaseSessionActPrint.JudgeReporter )
    </div>
</div>

