@model CaseMainDataVM
@using IOWebApplication.Infrastructure.Models.ViewModels
@{
    IAccessControl access = (IAccessControl)ViewBag.AccessControl;
    var canAcc = access.CanAccess;
}
@if (access.CanChange)
{
    <div class="row">
        <div class="col-md-12 text-right pb-15">
            <a asp-controller="CaseSessionAct" asp-action="Add" asp-route-caseSessionId="@Model.CaseSessionId" class="btn btn-success btn-sm">
                <i class="fa fa-plus"></i>
                Добави
            </a>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <table id="caseSessionActMainTable" class="table table-hover table-striped"></table>
    </div>
</div>

<partial name="_CdnScript" />

<script>
        $(function () {
            var table = $('#caseSessionActMainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListData", "CaseSessionAct")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.caseSessionId = @Model.CaseSessionId;
                    }

                },
                deferLoading: deferLoadingOnTab('#caseSessionActMainTable'),
                columns: [
                    {
                        name: 'isFinalDoc',
                        data: 'isFinalDoc',
                        title: '',
                        "render": function (item, type, row, meta) {
                            if (row.isFinalDoc) {
                                return "<span class='text-black'><i class='fa fa-gavel fa-lg' title='Финализиращ акт'></i></span>";
                            }
                            else {
                                return "<span class='text-green'><i class='' title=''></i></span>";
                            }
                        },
                        sortable: false,
                        searchable: false
                    },
                    {
                        name: 'actTypeLabel',
                        data: 'actTypeLabel',
                        title: 'Вид',
                        sortable: true,
                        searchable: true
                    },
                    //{
                    //    name: 'actResultLabel',
                    //    data: 'actResultLabel',
                    //    title: 'Вид на резултат',
                    //    sortable: true,
                    //    searchable: true
                    //},
                    {
                        name: 'actStateLabel',
                        data: 'actStateLabel',
                        title: 'Статус',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'regNumber',
                        data: 'regNumber',
                        title: 'Рег. номер',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'regNumberNew',
                        data: 'regNumberNew',
                        title: 'Рег. номер',
                        sortable: true,
                        searchable: false,
                        "render": function (item, type, row, meta) {
                            if (row.regNumberNew) {
                                return "<div class='cdn-listview' style='margin-left:5px;'><a href='#' class='cdn-loader' data-sourceType='" + @SourceTypeSelectVM.CaseSessionActAllFiles + "' data-sourceId='" + row.id + "'>" + row.regNumberNew + "</a></div>";
                            } else {
                                return "";
                            }
                        }
                    },
                    {
                        name: 'regDate',
                        data: 'regDate',
                        title: 'Рег. дата',
                        sortable: true,
                        searchable: true,
                        render: function (data) {
                                    return (data != null) ? moment(data).format("DD.MM.YYYY") : data;
                                }
                    },
                    {
                        name: 'actDeclaredDate',
                        data: 'actDeclaredDate',
                        title: 'Дата на постановяване',
                        sortable: true,
                        searchable: true,
                        render: function (data) {
                            return (data != null) ? moment(data).format("DD.MM.YYYY") : data;
                        }
                    },
                    {
                        name: 'actInforcedDate',
                        data: 'actInforcedDate',
                        title: 'Дата на влизане в сила',
                        sortable: true,
                        searchable: true,
                        render: function (data) {
                            return (data != null) ? moment(data).format("DD.MM.YYYY") : data;
                        }
                    },
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#caseSessionActTemplateEdit', value);
                        }
                    }
                ]
            });
            table.order([4, 'desc']);
        });

     $(function () {
         $(document).on('click', 'div.cdn-listview a.cdn-loader', function () {
                    let url = '@Url.Action("FileListView","Files")';
                    if ($(this).data('url')) {
                        url = $(this).data('url');
                    }
                    let lnk = $(this);
                    requestContent(url,
                        { sourceType: $(this).data('sourcetype'), sourceId: $(this).data('sourceid') },
                        function (html) {
                            $(lnk).parent().html(html);
                        });
                    return false;
                });
         });
</script>

<script id="caseSessionActTemplateEdit" type="text/x-handlebars-template">
    @if (access.CanChange)
    {
        <a href="@Url.Action("Edit", "CaseSessionAct")?id={{this}}&caseId=@Model.Id" class="btn btn-warning btn-sm m-b-5" title="Редакция"><i class="fa fa-edit"></i><span class="hidden-sm hidden-xs"></span></a>
        <a href="@Url.Action("Obligation", "Money")?caseSessionActId={{this}}" class="btn btn-def btn-sm m-b-5" title="Суми"><i class="fa fa-money"></i><span class="hidden-sm hidden-xs"></span></a>
    }

    <a href="@Url.Action("Index", "CaseSessionActLawBase")?caseSessionActId={{this}}" class="btn btn-def btn-sm m-b-5" title="Норм. текстове"><i class="fa fa-list"></i><span class="hidden-sm hidden-xs"></span></a>
    <a href="@Url.Action("Index", "CaseSessionActComplain")?caseSessionActId={{this}}" class="btn btn-def btn-sm m-b-5" title="Обжалване"><i class="fa fa-gavel"></i><span class="hidden-sm hidden-xs"></span></a>
</script>

    <script>
        $(document).ready(function () {
            SH_Columns();
        });

        function SH_Columns() {
            var table = $('#caseSessionActMainTable').DataTable();
            table.column(4).visible(true);
            table.column(3).visible(false);
            @*if ('@access.CanChange' == 'True') {
                table.column(5).visible(true);
                table.column(4).visible(false);
            }
            else {
                table.column(5).visible(false);
                table.column(4).visible(true);
            }*@
        }
    </script>


