@using IOWebApplication.Infrastructure.Models.ViewModels.Case
@using IOWebApplication.Infrastructure.Constants
@model CaseSessionActPrintVM
@switch (Model.ActTypeId)
{
    //Решение
    case NomenclatureConstants.ActType.Answer:
        {
            @if (!string.IsNullOrEmpty(Model.SecretaryName))
            {
                <div>
                    при участието на секретаря @Model.SecretaryName
                </div>
            }
            @if (Model.ProsecutorList.Count > 0 && Model.SessionIdOpen)
            {
                <div>
                    в присъствието на прокурора @foreach (var item in Model.ProsecutorList)
                    {
                        <span>@item</span>
                    }
                </div>
            }
        }
        break;
    //Определение и Разпореждане не се визуализират секретар и прокурор
    case NomenclatureConstants.ActType.Definition:
    case NomenclatureConstants.ActType.Injunction:
        {
        }
        break;

    default:
        {
            @if (!string.IsNullOrEmpty(Model.SecretaryName))
            {
                <div>
                    при участието на секретаря @Model.SecretaryName
                </div>
                @if (Model.ProsecutorList.Count > 0 && Model.SessionIdOpen)
                {
                    <div>
                        и прокурора @foreach (var item in Model.ProsecutorList)
                        {
                            <span>@item</span>
                        }
                    </div>
                }
            }
            else
            {
                @if (Model.ProsecutorList.Count > 0 && Model.SessionIdOpen)
                {
                    <div>
                        при участието на прокурора @foreach (var item in Model.ProsecutorList)
                        {
                            <span>@item</span>
                        }
                    </div>
                }
            }
        }
        break;
}


