@using IOWebApplication.Infrastructure.Models.ViewModels
@model CaseSessionActCoordinationVM
@{
    Layout = null;
}
<div style="text-align:center;width:100%;">
    <h2>ОСОБЕНО МНЕНИЕ</h2>
    <br />
    <br />
    <br />
    <br />
    към @Model.ActTypeName @if (Model.ActDate != null) {<text>@Model.ActNumber/@Model.ActDate.Value.ToString("dd.MM.yyyy")</text>}
    <br />
    на @(Model.CaseLawUnitName), @Model.JudgeRoleLabel
</div>
<p>
    @Html.Raw(Model.Content)
</p>
