@{
    var caseSessionActId = ViewBag.caseSessionActId;
    ViewData["Title"] = "Нормативни текстове към съдебен акт";
    IAccessControl access = (IAccessControl)ViewBag.AccessControl;
}

@section breadcrumb{
    @if (ViewBag.breadcrumbs != null)
    {
        <partial name="Breadcrumbs" model="@(List<IOWebApplication.Infrastructure.Models.ViewModels.Common.BreadcrumbsVM>)ViewBag.breadcrumbs" />
    }
}

@if (access.CanChange)
{
    <div class="row">
        <div class="col-md-12 text-right pb-15">
            <a asp-controller="CaseSessionActLawBase" asp-action="Add" asp-route-caseSessionActId="@caseSessionActId" class="btn btn-success">
                <i class="fa fa-plus"></i>
                Добави
            </a>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var table = $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListData")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.caseSessionActId = @caseSessionActId;
                    }
                 },
                columns: [
                    {
                        name: 'lawBaseName',
                        data: 'lawBaseName',
                        title: 'Наименование',
                        sortable: true,
                        searchable: false
                    },
                    {
                        className: 'col-md-1',
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#templateEdit', value);
                        }
                    }
                ]
            });
        });
    </script>

    <script id="templateEdit" type="text/x-handlebars-template">
        @if (access.CanChange)
        {
            <a href="@Url.Action("Edit", "CaseSessionActLawBase")?id={{this}}" class="btn btn-warning btn-sm" title="Редакция"><i class="fa fa-edit"></i><span class="hidden-sm hidden-xs"> </span></a>
        }
        else
        {
            <a href="@Url.Action("Edit", "CaseSessionActLawBase")?id={{this}}" class="btn btn-def btn-sm" title="Преглед"><i class="fa fa-eye"></i><span class="hidden-sm hidden-xs"> </span></a>
        }
    </script>
}
