@using IOWebApplication.Infrastructure.Models.Cdn
@model CdnUploadRequest
@if (Model.FileUploadEnabled)
{
    <form action="@Url.Action("UploadFile", "Files")" id="cdnUploadFile" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(x => x.SourceId)
        @Html.HiddenFor(x => x.SourceType)
        @Html.HiddenFor(x => x.FileContainer)
        @Html.HiddenFor(x => x.MaxFileSize)
        <input type="file" name="files" id="files" multiple="multiple" />
        @if (Model.MaxFileSize > 0)
        {
            <span class="text-muted">Максимално допустимия размер е @Model.MaxFileSize MB</span>
        }
        @Html.EditorFor(x => x.Title)
        <input type="submit" value="Прикачи" id="cdnUploadButton" />
        &nbsp;
        <span id="uploadProgress"></span>
        <button type="button" id="scanButton" class="pull-right" data-url="@Url.Action("Scan", "Scan", new { sourceId = Model.SourceId, sourceType = Model.SourceType })">Сканирай</button>
    </form>
}
else
{
    <div>
        <button type="button" id="scanButton" class="pull-right" data-url="@Url.Action("Scan", "Scan", new { sourceId = Model.SourceId, sourceType = Model.SourceType })">Сканирай</button>
        <br />
        <br />
    </div>
}
<script>
    $(function () {
        $('form#cdnUploadFile').ajaxForm({
            beforeSend: function () {
                $('#cdnUploadButton').hide();
                $('#scanButton').hide();
                $('#uploadProgress').text('');
            },

            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = 'Моля, изчакайте... ' + percentComplete + '%';
                $('#uploadProgress').text(percentVal);
            },
            complete: function (xhr) {
                $('#cdnUploadButton').show();
                $('#scanButton').show();
                $('#uploadProgress').text('');
                switch (xhr.responseText) {
                    case "ok":
                        LoadFiles('@Model.FileContainer');
                        $('#cdnUploadButton').parents('div.modal:first').modal("hide");
                        break;
                    case "max_size":
                        swalOk("Надвишен максимален размер на файл!");
                        break;
                    default:
                }
            }
        });

        $('#scanButton').on('click', function (e) {
            var returnUrl = window.location.href;
            var url = $(e.target).data('url') + '&returnUrl=' + returnUrl;
            window.location.href = url;
        });
    });
</script>
