@using IOWebApplication.Infrastructure.Models.ViewModels
@using IOWebApplication.Infrastructure.Constants
@model CaseFilter

@{
    ViewData["Title"] = "Съдебни дела";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")" title="Начало"><i class="fa fa-home"></i></a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
}
<div class="filter-form">
    @Html.HiddenFor(m => m.CaseGroupIds_text)
    @Html.HiddenFor(m => m.CaseTypeIds_text)
    <div class="row">
        <div class="col-lg-3">
            @Html.EditorFor(m => m.DateFrom, "DateTime")
        </div>
        <div class="col-lg-3">
            @Html.EditorFor(m => m.DateTo, "DateTime")
        </div>
        <div class="col-lg-3">
            @Html.EditorFor(m => m.CaseYear, "DateTimeYear")
        </div>
        <div class="col-lg-3">@Html.EditorFor(x => x.JudgeReporterId, "LawUnit", null, new { selectMode = NomenclatureConstants.LawUnitSelectMode.CurrentWithHistoryNoVAS, lawUnitType = NomenclatureConstants.LawUnitTypes.Judge })</div>
    </div>
    <div class="row">
        <div class="col-lg-3">@Html.EditorFor(x => x.CaseGroupIds, "GenericDropDownMultiple")</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.CaseTypeIds, "GenericDropDownMultiple")</div>
        @*<div class="col-lg-3">@Html.EditorFor(x => x.CaseGroupId, "GenericDropDown")</div>
            <div class="col-lg-3">@Html.EditorFor(x => x.CaseTypeId, "GenericDropDown")</div>*@
        <div class="col-lg-3">@Html.EditorFor(x => x.CaseCodeId, "CaseCode", null, new { caseTypeContainer = "#CaseTypeIds_text" })</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.RegNumber)</div>
    </div>
    <div class="row">
        <div class="col-lg-3">@Html.EditorFor(x => x.DocumentNumber)</div>
        <div class="col-lg-3">@Html.EditorFor(x => x.CaseClassificationId, "GenericDropDown")</div>
        <div class="col-lg-2">@Html.EditorFor(x => x.CaseStateId, "GenericDropDown")</div>
        <div class="col-lg-2">@Html.EditorFor(x => x.CourtDepartmentId, "GenericDropDown")</div>
        <div class="col-lg-2">@Html.EditorFor(x => x.CourtDepartmentOtdelenieId, "GenericDropDown")</div>
    </div>

    <div class="row">
        <div class="col-md-6 text-left pb-15">
            <button type="button" class="btn btn-primary filter-button" id="btnFilter" onclick="LoadTable()" value="Филтриране" title="Филтриране">
                Филтриране
                <i class="fa fa-search" title="Търсене"></i>
            </button>
        </div>
    </div>
</div>
@*<div class="row">
        <div class="col-md-12 text-right pb-15">
            <a asp-action="Add" class="btn btn-success">
                <i class="fa fa-plus"></i>
                Добави
            </a>
        </div>
    </div>*@

<div class="row">
    <div class="col-lg-12 col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

@section scripts {
    <script>
        localStorage.removeItem('activeTabCase');

        $(document).ready(function () {
            $('#CaseGroupIds').select2({
            });
            $('#CaseTypeIds').select2({
            });
        });

        $('#CaseGroupId').change(function () {
            requestCombo('@Url.Action("GetDDL_CaseType","Ajax")', { CaseGroupId: $(this).val() }, '#CaseTypeId', @Model.CaseTypeId, function () { $('#CaseTypeId').trigger('change') });
        });

        $('#CaseGroupIds').change(function () {
            var str = '';
            if ($('#CaseGroupIds').val() !== null && $('#CaseGroupIds').val().length > 0) {
                str = $('#CaseGroupIds').val().join(',');
            }
            $('#CaseGroupIds_text').val(str);
            requestCombo('@Url.Action("GetDDL_CaseTypes", "Ajax")', { caseGroupIds: str }, '#CaseTypeIds', @(Model.CaseTypeIds ?? "0"), function () { $('#CaseTypeIds').trigger('change') });
        });

        $('#CaseTypeIds').change(function () {
            var str = '';
            if ($('#CaseTypeIds').val() !== null && $('#CaseTypeIds').val().length > 0) {
                str = $('#CaseTypeIds').val().join(',');
            }
            $('#CaseTypeIds_text').val(str);
        });

    </script>

}


<script>
    function LoadTable() {
        if ($("#DateFrom").val() == '' && $("#DateTo").val() == '' && $("#CaseYear").val() == '') {
            return messageHelper.ShowErrorMessage('Попълнете от дата до дата или година', messageContainer);
        }
        if ($.fn.dataTable.isDataTable('#mainTable')) {
            refreshTable('#mainTable');
        }
        else {
            $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListData")",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (d) {
                        d.model = {
                            DateFrom: $("#DateFrom").val(),
                            DateTo: $("#DateTo").val(),
                            //CaseGroupId: $("#CaseGroupId").val(),
                            CaseStateId: $("#CaseStateId").val(),
                            //CaseTypeId: $("#CaseTypeId").val(),
                            CaseCodeId: $("#CaseCodeId").val(),
                            RegNumber: $("#RegNumber").val(),
                            CaseYear: $("#CaseYear").val(),
                            DocumentNumber: $("#DocumentNumber").val(),
                            JudgeReporterId: $("#JudgeReporterId").val(),
                            CaseClassificationId: $("#CaseClassificationId").val(),
                            CourtDepartmentId: $("#CourtDepartmentId").val(),
                            CourtDepartmentOtdelenieId: $("#CourtDepartmentOtdelenieId").val(),
                            CaseGroupIds_text: $('#CaseGroupIds_text').val(),
                            CaseTypeIds_text: $('#CaseTypeIds_text').val()
                        };
                    }
                },
                filter:false,
                columns: [
                    {
                        name: 'regNumber',
                        data: 'regNumber',
                        title: 'Номер на дело',
                        "render": function (item, type, row, meta) {
                            var url = '@(Url.Action("CasePreview", "Case",new { id = 666}))';
                            url = url.replace('666', row.id);
                            return "<a style='cursor: pointer;' data-toggle='tooltip' title='Преглед' href=" + url + ">" + row.regNumber + "</a>";
                        },
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'regDate',
                        data: 'regDate',
                        title: 'Дата',
                        sortable: true,
                        searchable: true,
                        render: function (data) {
                            return moment(data).format("DD.MM.YYYY");
                        }
                    },
                    {
                        name: 'caseTypeLabel',
                        data: 'caseTypeLabel',
                        title: 'Точен вид',
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'judgeReport',
                        data: 'judgeReport',
                        title: 'Съдия-докладчик',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'departmentOtdelenieText',
                        data: 'departmentOtdelenieText',
                        title: 'Отделение/Състав',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'caseCodeLabel',
                        data: 'caseCodeLabel',
                        title: 'Шифри',
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'processPriorityLabel',
                        data: 'processPriorityLabel',
                        title: 'Вид производство',
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'caseStateLabel',
                        data: 'caseStateLabel',
                        title: 'Статус',
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        width: 100,
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#templateEdit', value);
                        }
                    }
                ]
            });
        }
    }
</script>

<script id="templateEdit" type="text/x-handlebars-template">
    <div class="row">
        <a href="@Url.Action("CasePreview")/{{this}}" class="btn btn-def btn-sm m-b-5" title="Преглед"><i class="fa fa-eye"></i><span class="hidden-sm hidden-xs"></span></a>
        @*<a href="@Url.Action("CaseFolder")/{{this}}" class="btn btn-success btn-sm" title="Обобщена информация"><i class="fa fa-info-circle"></i><span class="hidden-sm hidden-xs"></span></a>*@
        <a href="@Url.Action("CaseTimeLinePreview")/{{this}}" class="btn btn-def btn-sm m-b-5" title="Електронна папка"><i class="fa fa-folder-open-o"></i><span class="hidden-sm hidden-xs"></span></a>
        <a href="@Url.Action("CaseProceedings")/{{this}}" class="btn btn-def btn-sm m-b-5" title="Ход на дело"><i class="fa fa-calendar"></i><span class="hidden-sm hidden-xs"></span></a>
    </div>
</script>

<script>
    $(function () {
        initLawUnit();
        initCaseCode();
    });
</script>
