@{
    ViewData["Title"] = "Коригиращи коефициенти по дела";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")" title="Начало"><i class="fa fa-home"></i></a></li>
    </ol>
}

<div class="row">
    <div class="col-md-12 text-right pb-15">
        <a asp-action="AddCaseLoadCorrectionActivity" class="btn btn-success btn-sm">
            <i class="fa fa-plus"></i>
            Добави
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var table = $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListDataCaseLoadCorrectionActivity")",
                    "type": "POST",
                    "datatype": "json"
                },
                columns: [
                    {
                        name: 'label',
                        data: 'label',
                        title: 'Наименование',
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'caseGroupLabel',
                        data: 'caseGroupLabel',
                        title: 'Основен вид дело',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'caseInstanceLabel',
                        data: 'caseInstanceLabel',
                        title: 'Инстанция',
                        sortable: true,
                        searchable: false
                    },
                    {
                        name: 'correctionGroup',
                        data: 'correctionGroup',
                        title: 'Група',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'loadIndex',
                        data: 'loadIndex',
                        title: 'Индекс',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-center noExport",
                        "render": function (value) {
                            return TemplateToHtml('#templateEdit', value);
                        }
                    }
                ]
            }).order([[ 0, "asc" ]]);
        });
    </script>

    <script id="templateEdit" type="text/x-handlebars-template">
        <a href="@Url.Action("EditCaseLoadCorrectionActivity")/{{this}}" class="btn btn-warning btn-sm" title="Редакция"><i class="fa fa-edit"></i><span class="hidden-sm hidden-xs"></span></a>
        <a href="@Url.Action("CopyCaseLoadCorrectionActivity")?CaseLoadCorrectionActivityId={{this}}" class="btn btn-def btn-sm" title="Копирай"><i class="fa fa-clone"></i><span class="hidden-sm hidden-xs"></span></a>
        @*<a href="@Url.Action("IndexCaseLoadCorrectionActivityIndex")?CaseLoadCorrectionActivityId={{this}}" class="btn btn-primary btn-sm" title="Стойности към коригиращ индекс"><i class="fa fa-sitemap"></i><span class="hidden-sm hidden-xs"></span></a>*@
    </script>
}
