@model DateTime?
@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix;
    string label = fieldName;
}
@if (ViewData[fieldName] != null)
{
    label = (string)ViewData[fieldName];
}
<div class="form-group">
    <label asp-for="@Model" class="control-label ">@Html.Raw(label)</label>
    <div class="input-group date">
        <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
        </div>
        <input asp-for="@Model" class="form-control datetime-picker" type="text" autocomplete="off" value="@(Model.HasValue && Model.Value > DateTime.MinValue ? Model.Value.ToString("dd.MM.yyyy HH:mm") : String.Empty)" />
    </div>
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>
