@model int
@{ 
    var groupClass = "";
    if (ViewData["groupClass"] != null)
    {
        groupClass = (string)ViewData["groupClass"];
    }
    var add_class = ((string)ViewData["class"] ?? "");
}

<div class="form-group @groupClass">
    <label asp-for="@Model" class="control-label"></label>
    <input asp-for="@Model" class="form-control @add_class" />
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>