@model string
@{
    var fieldName = ViewData.TemplateInfo.HtmlFieldPrefix.Replace(".", "_") + "_eispptblelement";
    var label = (string)ViewData["label"];
    var tblCode = (string)ViewData["tblCode"];
    var addClass = "";
    if (string.IsNullOrEmpty(label))
    {
        addClass = "form-group";
    }
}

<div class="eispptblelement-container @addClass" data-tblcode="@tblCode" @if (ViewData["onChange"] != null) { <text> onchange="@(ViewData["onChange"])" </text> }>
    @if (string.IsNullOrEmpty(label))
    {
        <label asp-for="@Model" class="control-label io-req"></label>
        <input id="@fieldName" name="@fieldName" class="form-control eispptblelement-control" autocomplete="false" placeholder="Въведете наименование или част от него" />
    }
    else
    {
        <input id="@fieldName" name="@fieldName" class="form-control eispptblelement-control" autocomplete="false" placeholder="@label" />
    }
    <input asp-for="@Model" type="hidden" class="eispptblelement-val" />
    <span asp-validation-for="@Model" class="text-danger"></span>
    <div id="@String.Format("{0}list", fieldName)" style="z-index:1050;"></div>
</div>
