@model string
@using IOWebApplication.Infrastructure.Extensions
@{
    var label = "";
    if (ViewData["label"] != null)
    {
        label = (string)ViewData["label"];
    }
    var groupClass = "";
    if (ViewData["groupClass"] != null)
    {
        groupClass = (string)ViewData["groupClass"];
    }

    var reqClass = ViewData.ModelMetadata.GetIOReqClass();
    var add_class = ((string)ViewData["class"] ?? "");
}

<div class="form-group @groupClass">
    @if (!string.IsNullOrEmpty(label))
    {
        <label class="control-label @reqClass">@label</label>
    }
    else
    {
        <label asp-for="@Model" class="control-label @reqClass"></label>
    }
    @Html.TextBox("", Model.Decode(), new { @class = "form-control " + add_class })
    @*<input asp-for="@Model" class="form-control" value="@value" />*@
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>