@model string
@using IOWebApplication.Infrastructure.Extensions
@{
    string _class = (string)ViewData["class"] ?? "";
    string _rows = (string)ViewData["rows"] ?? "2";

    var reqClass = ViewData.ModelMetadata.GetIOReqClass();
}
<div class="form-group">
    <label asp-for="@Model" class="control-label @reqClass"></label>
    @Html.TextArea("", Model.Decode(), new { @class = "form-control "+ _class, rows = _rows })
    @*<textarea asp-for="@Model" class="form-control @_class" rows=@_rows></textarea>*@
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>