@{
    var casePersonId = ViewBag.casePersonId;
    ViewData["Title"] = "Присъда на " + ViewBag.casePersonName;
    IAccessControl access = (IAccessControl)ViewBag.AccessControl;
}

@section breadcrumb{
    @if (ViewBag.breadcrumbs != null)
    {
        <partial name="Breadcrumbs" model="@(List<IOWebApplication.Infrastructure.Models.ViewModels.Common.BreadcrumbsVM>)ViewBag.breadcrumbs" />
    }
}

@if (access.CanChange)
{
    <div class="row">
        <div class="col-md-12 text-right pb-15">
            <a asp-controller="CasePersonSentence" asp-action="Add" asp-route-casePersonId="@casePersonId" class="btn btn-success">
                <i class="fa fa-plus"></i>
                Добави
            </a>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var table = $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("ListData")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.casePersonId = @casePersonId;
                    }
                 },
                columns: [
                    {
                        name: 'id',
                        data: 'id',
                        title: '',
                        sortable: true,
                        searchable: false,
                    },
                    {
                        className: 'col-md-1',
                        name: 'instanceLabel',
                        data: 'instanceLabel',
                        title: 'Инстанция',
                        sortable: true,
                        searchable: false,
                        className: "text-center"
                    },
                    {
                        className: 'col-md-3',
                        name: 'courtLabel',
                        data: 'courtLabel',
                        title: 'Постановена от',
                        sortable: true,
                        searchable: false
                    },
                    {
                        className: 'col-md-3',
                        name: 'caseSessionActLabel',
                        data: 'caseSessionActLabel',
                        title: 'Акт',
                        sortable: true,
                        searchable: false
                    },

                    {
                        className: 'col-md-2',
                        name: 'sentenceResultTypeLabel',
                        data: 'sentenceResultTypeLabel',
                        title: 'Резултат',
                        sortable: true,
                        searchable: false,
                    },
                    {
                        className: 'col-md-1',
                        name: 'isActiveText',
                        data: 'isActiveText',
                        title: 'Активна',
                        sortable: true,
                        searchable: false,
                        className: "text-center"
                    },
                    {
                        className: 'col-md-2',
                        name: 'actions',
                        data: "id",
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-left noExport",
                        "render": function (data, type, row) {
                            return TemplateToHtml('#templateEdit', row);
                        }
                    }
                ]
            }).order([[0, "desc"]]).column(0).visible(false);
        });
    </script>

    <script id="templateEdit" type="text/x-handlebars-template">
        @if (access.CanChange)
        {
            <a href="@Url.Action("Edit", "CasePersonSentence")?id={{id}}" class="btn btn-warning btn-sm" title="Редакция"><i class="fa fa-edit"></i><span class="hidden-sm hidden-xs"></span></a>
        }
        else
        {
            <a href="@Url.Action("Edit", "CasePersonSentence")?id={{id}}" class="btn btn-def btn-sm" title="Преглед"><i class="fa fa-eye"></i><span class="hidden-sm hidden-xs"></span></a>
        }
        <a href="@Url.Action("IndexCasePersonSentencePunishment", "CasePersonSentence")?casePersonSentenceId={{id}}" class="btn btn-def btn-sm" title="Наказание"><i class="fa fa-link"></i><span class="hidden-sm hidden-xs"></span></a>
        @if (access.CanChange)
        {<text>
        {{#if isActive}}
        <a href="@Url.Action("AddBulletin", "CasePersonSentence")?personId=@casePersonId" class="btn btn-def btn-sm" title="Бюлетин за съдимост"><i class="fa fa-print"></i><span class="hidden-sm hidden-xs"></span></a>
        {{/if}}
        </text>
        }
    </script>
}
