@model WorkTaskFilterVM
@{
    ViewData["Title"] = "Моите задачи";
}

@section breadcrumb{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")" title="Начало"><i class="fa fa-home"></i></a></li>
        <li class="active">@ViewData["Title"]</li>
    </ol>
}
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        @Html.EditorFor(m => m.DateFrom, "DateTime")
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        @Html.EditorFor(m => m.DateTo, "DateTime")
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12">
        @Html.EditorFor(m => m.TaskTypeId, "GenericDropDown")
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        @Html.EditorFor(m => m.TaskStateId, "GenericDropDown")
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="form-group">
            <label class="control-label">Изпълнител на задачата</label>
            <div>
                <label>
                    @Html.RadioButtonFor(x => x.UserMode, 1)
                    &nbsp;
                    Насочена към мен
                </label>
                &nbsp;
                <label>
                    @Html.RadioButtonFor(x => x.UserMode, 2)
                    &nbsp;
                    Създадена от мен
                </label>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        @Html.EditorFor(m => m.UserId, "SelectUser")
    </div>
    <div class="col-lg-3 col-md-12">
        @Html.EditorFor(m => m.SourceDescription)
    </div>
    <div class="col-lg-3 col-md-12">
        @Html.EditorFor(m => m.ParentDescription)
    </div>
</div>

<div class="row">
    <div class="col-md-6 text-left pb-15">
        <button type="button" class="btn btn-primary" id="btnFilter" onclick="refreshTable('#mainTable');" value="Филтриране" title="Филтриране">
            Филтриране
            <i class="fa fa-search" title="Търсене"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="mainTable" class="table table-hover table-striped"></table>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            var table = $('#mainTable').DataTable({
                ajax: {
                    "url": "@Url.Action("Index_LoadData")",
                    "type": "POST",
                    "datatype": "json",
                    data: function (d) {
                        d.model = {
                            dateFrom: $('#DateFrom').val(),
                            dateTo: $('#DateTo').val(),
                            taskTypeId: $('#TaskTypeId').val(),
                            taskStateId: $('#TaskStateId').val(),
                            userMode: $('#UserMode:checked').val(),
                            userId: $('#UserId').val(),
                            sourceDescription:$('#SourceDescription').val(),
                            parentDescription:$('#ParentDescription').val()
                        };
                    }
                },
                columns: [
                    {
                        name: 'taskTypeName',
                        data: 'taskTypeName',
                        title: 'Вид задача',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'dateCreated',
                        data: 'dateCreated',
                        title: 'Създадена на',
                        sortable: true,
                        searchable: false,
                        "render": function (value) {
                            return JsonBGdateTime(value);
                        }
                    },
                    {
                        name: 'userCreatedFullName',
                        data: 'userCreatedFullName',
                        title: 'Възложена от',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'userFullName',
                        data: 'userFullName',
                        title: 'Възложена на',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'dateEnd',
                        data: 'dateEnd',
                        title: 'В срок до',
                        sortable: true,
                        searchable: false,
                        "render": function (value) {
                            return JsonBGdate(value);
                        }
                    },

                    {
                        name: 'taskStateName',
                        data: 'taskStateName',
                        title: 'Статус',
                        sortable: true,
                        searchable: true
                    },
                    {
                        name: 'sourceDescription',
                        data: 'sourceDescription',
                        title: 'Относно',
                        sortable: true,
                        searchable: true
                    },{

                        name: 'parentDescription',
                        title: "Дело",
                        sortable: true,
                        searchable: true,
                        "render": function (a, b, item, d) {
                            return TemplateToHtml('#templateViewParent', item);
                        }
                    },
                    {
                        name: 'actions',
                        data: null,
                        title: "",
                        sortable: false,
                        searchable: false,
                        className: "text-right noExport",
                        "render": function (a,b,item,d) {
                            return TemplateToHtml('#templateView', item);
                        }
                    }
                ]
            });

            table.order([1, 'desc']);
            initUserAutoComplete();
        });
        function ViewTask(st, sid) {
            requestContent('@Url.Action("GetTaskObjectUrl")', { sourceType: st, sourceId: sid }, function (result) {
                if (result) {
                    document.location.href = result;
                }
            });
        }
        function ViewParent(st, sid) {
            requestContent('@Url.Action("GetTaskParentObjectUrl")', { sourceType: st, sourceId: sid }, function (result) {
                if (result) {
                    let a = document.createElement('a');
                    a.target = '_blank';
                    a.href = result;
                    a.click();
                }
            });
        }
    </script>
    <script id="templateView" type="text/x-handlebars-template">
        <a href="#" onclick="ViewTask({{sourceType}}, {{sourceId}}); return false;" class="btn btn-primary btn-sm" title="Преглед"><i class="fa fa-search"></i><span class="hidden-sm hidden-xs"> Преглед</span></a>
    </script>
    <script id="templateViewParent" type="text/x-handlebars-template">
        <a href="#" onclick="ViewParent({{sourceType}}, {{sourceId}}); return false;" title="Преглед дело">{{parentDescription}}</a>
    </script>
}
