@model WorkTaskManageVM
@using IOWebApplication.Infrastructure.Constants
@{
    var canSave = !string.IsNullOrEmpty(Model.TaskIds);
}
@using (Html.BeginForm(FormMethod.Post, new { onsubmit = "validationCheck(event);" }))
{
    @Html.HiddenFor(x => x.TaskIds)

    @if (Model.ShowUser)
    {
        <div class="form-group">
            <label class="control-label">Начин на изпълнение</label>
            <div>
                <label>@Html.RadioButtonFor(x => x.TaskExecutionId, WorkTaskConstants.TaskExecution.ByUser)&nbsp;От потребител</label>
                &nbsp;&nbsp;&nbsp;
                <label>@Html.RadioButtonFor(x => x.TaskExecutionId, WorkTaskConstants.TaskExecution.ByOrganization)&nbsp;От структура</label>
            </div>
        </div>
        <div id="selectUser">
            @Html.EditorFor(x => x.NewUserId, "SelectUser")
        </div>
        <div id="selectOrganization">
            @Html.EditorFor(x => x.CourtOrganizationId, "SelectOrganization")
        </div>
    }
    @Html.EditorFor(x => x.Description, "textarea")
    @if (Model.ShowUser)
    {
        <span class="text-remark">Забележка: Задачите за подписване не могат да бъдат пренасочвани!</span>
        <br />
        <br />
    }
    <div class="form-group">
        @if (canSave)
        {
            <input type="submit" value="Запис" class="btn btn-success submit single-click-submit" />
        }
    </div>
}

<script>
    $(function () {
        initUserAutoComplete();
        initOrganizations();

        $('input[name="TaskExecutionId"]').click(function () {
            if ($(this).is(':checked')) {
                switch ($(this).val()) {
                    case '@WorkTaskConstants.TaskExecution.ByUser':
                        $('#selectUser').show();
                        $('#selectOrganization').hide();
                        break;
                    case '@WorkTaskConstants.TaskExecution.ByOrganization':
                        $('#selectUser').hide();
                        $('#selectOrganization').show();
                        break;
                }
            }
        })
        $('input[name="TaskExecutionId"]:checked').trigger('click');
    });
    function validationCheck(e) {
        if ($('#Description').val().length < 5) {
            swal({
                title: 'Грешка',
                text: 'Моля, въведете Основание',
                icon: "warning"
            });
            e.preventDefault();
            $(e.target).find('input[type="submit"]').removeAttr('disabled');
            return false;
        }

        return true;
    }
</script>